<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row block-5" style="justify-content: center;">
            <div class="col-md-6 d-flex" style="padding-top: 19px;">
                <form [formGroup]="forgotPasswordForm" class="bg-white pb-5 pr-5 pl-5 pt-3 contact-form"
                    style="height:100%;" *ngIf="!emailSent">
                    <div class="login-title">
                        <p>Forgot Password</p>
                    </div>
                    <div class="form-group">
                        <input name="email" class="form-control email" type="email" placeholder="Email"
                            [formControl]="forgotPasswordForm.controls['email']">
                        <span class="text-warning warning-msg">
                            If your email exists, we will send you a link to reset your password.
                        </span>
                        <div class="alert alert-danger" *ngIf="emailNotFound">
                            <i>Sorry, we don't recognize that email address. Please try again.</i>                   
                        </div><br>
                    </div>
                    <div class="form-group mt-2" style="text-align: center;">
                        <button class="btn btn-primary" [disabled]="!forgotPasswordForm.valid" (click)="sendEmail()">
                            Submit
                        </button>
                    </div>
                    <div style="text-align: center;">
                        <a [routerLink]="['../become-earner-login']">
                            Back to Login Page
                        </a>
                    </div>
                </form>

                <form [formGroup]="forgotPasswordForm" class="bg-white pb-5 pr-5 pl-5 pt-4 contact-form"
                    style="height:100%;" *ngIf="emailSent">
                    <div class="row justify-content-center align-items-center">
                        <div class="col" *ngIf="emailSent">
                            <p>
                                Check your email for a link to reset your password. 
                                If it doesn’t appear within a few minutes, check your spam folder.
                            </p>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-link" [routerLink]="['../become-earner-login']">
                            Back to login page
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>