<!-- <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Task&earn</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="candidates.html" class="nav-link">Canditates</a></li>
	          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
	          <li class="nav-item active"><a href="contact.html" class="nav-link">Contact</a></li>
	          <li class="nav-item cta mr-md-1"><a href="new-post.html" class="nav-link">Post a Job</a></li>
	          <li class="nav-item cta cta-colored"><a href="job-post.html" class="nav-link">Want a Job</a></li>

	        </ul>
	      </div>
	    </div>
	  </nav> -->
<!-- END nav -->


<section class="ftco-section contact-section bg-light">
  <div class="container">
    <!-- <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h3">Contact Information</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-3">
            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
          </div>
          <div class="col-md-3">
            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Website</span> <a href="#">yoursite.com</a></p>
          </div>
        </div> -->
    <div class="row block-5">
      <div class="col-md-6 order-md-last d-flex">
        <form [formGroup]="loginForm" class="bg-white p-5 contact-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" [formControl]="loginForm.controls['email']">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password"
              [formControl]="loginForm.controls['password']">
          </div>
          <div class="form-group mt-2" style="text-align: center;">
            <button [disabled]="!loginForm.valid" class="btn btn-primary" (click)="onLogin()">Login</button>
          </div>
          <br>
          <a [routerLink]="['/registration']" style="margin-left: 164px;">Create an Account</a>
          <br>
          <!-- <a [routerLink]="['forgotpassword']">Forgot password</a> -->
        </form>

      </div>

      <div class="col-md-6 d-flex">
        <img class="one-third align-self-end order-md-last img-fluid"
          src="../../assets/template/images/undraw_work_time_lhoj.svg" alt="">
        <!-- <div id="map" class="bg-white"></div> -->
      </div>
    </div>
  </div>
</section>