<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row block-5">
            <div class="col-md-6 order-md-last d-flex">
                <app-category (categoryEvent)="selectedCategory($event)" *ngIf="currentViewId == 0" class="shared-form">
                </app-category>
                <app-sub-category [categorysId]="categoryListId" (subCatList)="subCategoryList($event)"
                    *ngIf="currentViewId == 1" class="shared-form"></app-sub-category>
                <app-address (submitEvent)="addressData($event)" *ngIf="currentViewId == 2" class="shared-form">
                </app-address>
                <app-login-page *ngIf="currentViewId == 3" class="shared-form" (loginDetails)="userData($event)">
                </app-login-page>

                <form [formGroup]="taskForm" class="bg-white p-5 contact-form" *ngIf="currentViewId == 4">
                    <div class="login-title">
                        <p>Task Details</p>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Task title"
                            [formControl]="taskForm.controls['title']">
                        <div class="alert alert-danger"
                            *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched">
                            <small class="text-danger" *ngIf="taskForm.get('title').errors?.required"> title is
                                Required</small>                   
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="description"
                            [formControl]="taskForm.controls['description']">
                        <div class="alert alert-danger"
                            *ngIf="taskForm.controls['description'].invalid && taskForm.controls['description'].touched">
                            <small class="text-danger" *ngIf="taskForm.get('description').errors?.required">Description
                                is
                                Required</small>                  
                        </div>
                                   
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" placeholder="Price"
                            [formControl]="taskForm.controls['price']">
                        <div class="alert alert-danger"
                            *ngIf="taskForm.controls['price'].invalid && taskForm.controls['price'].touched">
                            <small class="text-danger" *ngIf="taskForm.get('price').errors?.required">Price is
                                Required</small>                   
                        </div>            
                    </div>
                    <br>
                </form>
            </div>
            <div class="col-md-6 d-flex">
                <img class="one-third align-self-end order-md-last img-fluid"
                    src="../../assets/template/images/workers.png" alt="">
            </div>
        </div>
        <div class="form-group mt-2" style="text-align: center;">
            <button class="btn btn-primary" style="float: right;" *ngIf="currentViewId == 0  || currentViewId == 1"
                (click)="onNext()">Next</button>
            <button class="btn btn-primary" style="float: right; margin-right: 5px;" (click)="onBack()"
                *ngIf="currentViewId !== 0">Back</button>
        </div>
    </div>
</section>