<div class="container">
    <div class="professional" style="display: flex; padding: 10px;">
        <div>
            <img src="assets/image/Capture.PNG" alt="Girl in a jacket" width="150" height="150">
        </div>
        <div style="padding: 10px;">
            <label style="font-weight: bolder; color: black;">{{title}}</label><br>
            <label style="font-weight: bolder; color: green;">Great 4.7 <span style="color: green;">
                    ****</span><span>(63)</span></label>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <label>{{url}}</label>
    </div>
    <div class="row" style="padding: 10px; ">
        <label><span style="color: black;font-weight: bolder;">Introduction</span> {{introduction}}</label>
    </div>
    <div class="row" style="padding: 10px;">
        <label>{{task}}</label>
    </div>
    <div class="row" style="display: flex;  padding: 10px;">
        <div>
            <label style="font-weight: bold;color: black;">Overview</label>
        </div>
        <div>
            <label style="font-weight: bold; color: black;">Top Pro status</label>
        </div>
    </div>
    <div class="row">
        <div>
            <div>
                <label style="font-weight: bold; color: black;"><i class="fa fa-trophy" aria-hidden="true"></i></label>
                <label style="font-weight: bold; color: black;">Hired 91 times</label>
                <br>
                <label style="font-weight: bold; color: black;"><i class="fa fa-map-marker"
                        aria-hidden="true"></i></label>
                <label style="font-weight: bold; color: black;">Serves Valrico,FL</label>
                <br>
                <label style="font-weight: bold; color: black;"><i class="fa fa-users" aria-hidden="true"></i></label>
                <label style="font-weight: bold; color: black;">2 employees</label>
            </div>
            <div>

            </div>
            <a href="#">View all details</a>
            <div>

            </div>
        </div>
    </div>
</div>