<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light" style="margin-top: 130px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor=" let professionals of allProfessionalsList; let i =index">
                <div class="team d-md-flex">
                    <div class="img"
                        style="background-image: url('../../assets/template/images/user.svg'); background-color:#6c63ff;">
                    </div>
                    <div class="text pl-md-4">
                        <span class="location mb-0">{{professionals.address?.city}},
                            {{professionals.address?.country}}</span>
                        <h2>{{professionals.User?.firstName}} {{professionals.User?.lastName}}</h2>
                        <!-- <span class="position">Graduate</span> -->
                        <p>{{professionals.introduction}}.</p>
                        <span class="seen">other works</span>
                        <p *ngFor="let subCat of professionals.category.subcategories">
                            {{subCat?.SubCategoryName}}</p>
                        <p><a href="#" class="btn btn-primary">Hire Pro</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>