.dropdown {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 6px;
    padding-top: 0px;
    left: 121px;
}

.user-img {
    width: 30px;
    height: 30px;
    background-color: #6c63ff;
}

.dropdown-item {
    background-color: white;
}

.dropdown-menu-right {
    left: -49px !important;
    top: 41px !important;
}