.dropdown {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 6px;
    padding-top: 0px;
    left: 121px;
}

.navbar {
    /* padding: 0rem 1rem !important; */
    /* padding: 0.1rem 1rem; */
}

/* .navbar-collapse {
    padding: 0.3rem 1rem !important;
} */

.user-img {
    width: 30px;
    height: 30px;
    background-color: #6c63ff;
}

.dropdown-item {
    background-color: white;
}

.dropdown-menu-right {
    left: -49px !important;
    top: 41px !important;
}