<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <!-- <img src="../../../assets/template/images/taskandearn-logo.png" alt="logo" style="width: 151px;
        height: 79px;"> -->
        <a class="navbar-brand" href="index.html" style="font-size: 25px; color: #6c63ff;">Task&Earn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a [routerLink]="['']" class="nav-link">Home</a></li>
                <li class="nav-item"><a [routerLink]="'/aboutus'" class="nav-link">About</a></li>
                <li class="nav-item"><a [routerLink]="['/professionals']" class="nav-link">Professionals</a></li>
                <!-- <li class="nav-item cta ">
                    <a [routerLink]="['/joinaspro']" routerLinkActive="active" class="nav-link"
                        style="cursor: pointer;">Join
                        as pro</a>
                </li> -->
                <li class="nav-item">
                    <p [routerLink]="['/alltasks']" class="nav-link" style="cursor: pointer;">All Tasks</p>
                </li>

                <li class="nav-item cta mr-md-1"><a [routerLink]="['/task']" class="nav-link">Post Task</a></li>
                <li class="nav-item cta cta-colored ml-2" *ngIf="joinButton"><a [routerLink]="['/joinaspro']"
                        class="nav-link">Join
                        as Pro</a></li>
                <li class="nav-item">
                    <p [routerLink]="['/login']" class="nav-link" style="cursor: pointer;" *ngIf="!headerIcon">Login</p>
                </li>
                <li class="nav-item">
                    <p [routerLink]="['/register']" class="nav-link" style="cursor: pointer;" *ngIf="!headerIcon">SignIn
                    </p>
                </li>

                <ul class="nav navbar-right list-inline" *ngIf="headerIcon">
                    <li class="dropdown user-box list-inline-item">
                        <a href="" id="user-desktop" class="dropdown-toggle waves-effect user-link"
                            data-toggle="dropdown" aria-expanded="true">
                            <img src="../../assets/template/images/user.svg" alt="user-img"
                                class="rounded-circle user-img">
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                            <li><a href="javascript:void(0)" class="dropdown-item" (click)="userProfile()">My
                                    Profile</a></li>
                            <li><a href="javascript:void(0)" class="dropdown-item" (click)="onMyTask()">My Tasks</a>
                            </li>
                            <li *ngIf="!joinButton"><a href="javascript:void(0)" class="dropdown-item"
                                    (click)="appliedTasks()">My Applied
                                    Tasks</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a href="javascript:void(0)" class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>

        </div>
    </div>
</nav>
<!-- END nav -->