.dropdown {
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 6px;
    padding-top: 0px;
    left: 121px;
}

.nav-link{
    cursor: pointer;
}

.user-img {
    width: 30px;
    height: 30px;
    background-color: #009fd9;
}

.dropdown-item {
    background-color: white;
}

.dropdown-menu-right {
    left: -49px;
    top: 41px !important;
}

.big-screen {
    display: block;
}

.navbar-brand {
    font-size: 25px;
    color: #009fd9;
    padding-bottom: 5px;
}

@media (max-width: 430px) and (min-width:300px) {
    .navbar-brand {
        font-size: 20px;
        padding-bottom: 5px;
    }
    .big-screen {
        display: none !important;
    }
    .dropdown {
        left: 0px;
        bottom: 5px;
    }
    .dropdown-menu-right {
        left: 15px !important;
        top: 30px !important;
    }
    .ftco-navbar-light .navbar-toggler {
        bottom: 5px !important;
    }
    .nav-item a #color{
        color: #000 !important;
    }
}

.logo-image{
    height: 60px;
    width: 50px;
    position: relative;
    bottom: 1px;
    right: 5px;
}