button[disabled] {
    cursor: not-allowed;
}

.login-title {
    font-size: 35px;
    color: #009fd9;
    text-align: center;
}

.log-reg-button {
    color: #fff !important;
    background: #009fd9;
    border: none !important;
    padding-top: 0.5rem !important;
    padding-bottom: .5rem !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-top: 6px !important;
    border-radius: 5px;
}

.font13 {
    font-size: 13px;
    color: red;
  }