<form [formGroup]="professionalForm" class="bg-white contact-form">
    <div class="modal">
        <div class="bgr-image">
            <h2 class="text-center">Please describe about yourself</h2>
            <div class="modal__content">
                <form>
                    <ul class="form-list">
                        <li class="form-list__row">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Writte about yourself in short"
                                    [formControl]="professionalForm.controls['title']">
                                <div class="alert alert-danger"
                                    *ngIf="professionalForm.controls['title'].invalid && professionalForm.controls['title'].touched">
                                    <small class="text-danger" *ngIf="professionalForm.get('title').errors?.required">
                                        title is
                                        Required</small>                   
                                </div>
                            </div>
                            <div class="form-group">
                                <select class="form-control" style="border-color:#24cf5f"
                                    (change)="Ongender($event.target.value)">
                                    <option value=" default">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="alert alert-danger"
                                    *ngIf="professionalForm.controls['gender'].invalid && professionalForm.controls['gender'].touched">
                                    <small class="text-danger"
                                        *ngIf="professionalForm.get('gender').errors?.required">Gender
                                        is Required</small>                  
                                </div>         
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder=" Your phone number"
                                    [formControl]="professionalForm.controls['phone']">
                                <div class="alert alert-danger"
                                    *ngIf="professionalForm.controls['phone'].invalid && professionalForm.controls['phone'].touched">
                                    <small class="text-danger" *ngIf="professionalForm.get('phone').errors?.minlength ">
                                        Phone Number
                                        must be at least 10 Characters</small>    
                                    <small class="text-danger" *ngIf="professionalForm.get('phone').errors?.required ">
                                        Phone Number
                                        required</small>                
                                </div> 
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="Date Of Birth"
                                    [formControl]="professionalForm.controls['dob']">

                                <div class="alert alert-danger"
                                    *ngIf="professionalForm.controls['dob'].invalid && professionalForm.controls['dob'].touched">

                                    <small class="text-danger" *ngIf="professionalForm.get('dob').errors?.required ">
                                        Date
                                        of Birth is
                                        required</small>               
                                </div> 
                            </div>
                            <div class="form-group">
                                <h5>Select Skills</h5>
                            </div>
                            <div class="form-group">
                                <select class="form-control" multiple
                                    [formControl]="professionalForm.controls['subCategory']">
                                    <option *ngFor="let subCat of subCategoryList" value="{{subCat.subCategoryId}}">
                                        {{subCat.SubCategoryName}}</option>
                                </select>
                                <div class="alert alert-danger"
                                    *ngIf="professionalForm.controls['subCategory'].invalid && professionalForm.controls['subCategory'].touched">
                                    <small class="text-danger"
                                        *ngIf="professionalForm.get('subCategory').errors?.required">
                                        Sub-Category is Required</small>                   
                                </div>
                            </div>
                            <div class="form-group" style=" padding-top: 19px;">
                                <textarea rows="6" class="form-control" placeholder="Writte about yourself in detail"
                                    [formControl]="professionalForm.controls['introduction']"></textarea>
                                <div class="alert alert-danger"
                                    *ngIf="professionalForm.controls['introduction'].invalid && professionalForm.controls['introduction'].touched">
                                    <small class="text-danger"
                                        *ngIf="professionalForm.get('introduction').errors?.required">Introduction is
                                        Required</small>                   
                                </div>            
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="How much You cost for Hour"
                                    [formControl]="professionalForm.controls['price']">
                                <div class="alert alert-danger"
                                    *ngIf="professionalForm.controls['price'].invalid && professionalForm.controls['price'].touched">
                                    <small class="text-danger"
                                        *ngIf="professionalForm.get('price').errors?.required">price
                                        is Required</small>                  
                                </div>         
                            </div>
                        </li>
                        <li>
                            <button class="button" style="float: left;" (click)="onBack()">Back</button>
                            <button [disabled]="!professionalForm.valid" style="float: right;" type="submit"
                                class="button" (click)="professionalDetails()">Next</button>
                        </li>
                    </ul>
                </form>
            </div> <!-- END: .modal__content -->
        </div> <!-- END: .modal__container -->
    </div> <!-- END: .modal -->
    <br>
</form>