
.first-colomn {
    margin-top: 70px;
    margin-left: 50px;
}
.second-colomn{
    margin-left: 95px;
}
.app-now {
    border-radius: 10px;
    border-color: aliceblue;
    color: antiquewhite;
    font-size: 28px;
    font-weight: 600;
}
.available-text {
    font-size: 19px;
    color: black;
}
.create-text {
    color: lightblue;
    font-size: 24px;
}

.professional-text {
    color: black;
    font-weight: 600;
    font-size: 32px;
}


.navbar-brand {
    font-size: 25px;
    color: #009fd9;
    padding-bottom: 5px;
}


.logo-image{
    height: 40px;
    width: 45px;
    position: relative;
    bottom: 1px;
    right: 5px;
}

@media (min-width:300px) and (max-width:420px){
    .professional-text {
        color: black;
        font-weight: 600;
        font-size: 18px;
    }

    .create-text{
        color: lightblue;
        font-size: 18px;
    }
    .account-text{
        font-size: 18px;
    }
    .professional-cont{
        margin-left: -83px;
    }

    .app-now {
    border-color: aliceblue;
    color: antiquewhite;
    font-size: 16px;
    font-weight: 600; 
    }
    .available-text {
    font-size: 13px;
    color: black;
}
.second-colomn {
        margin-left: 37px;
    }
    .first-colomn {
        margin-top: 20px !important;
    }

.login-image{
    margin-left: 56px !important;
  }
  .logo-block{
    text-align: center;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
}