
.first-colomn {
    margin-top: 110px;
    margin-left: 50px;
}
.second-colomn{
    margin-left: 95px;
}
.app-now {
    border-radius: 10px;
    border-color: aliceblue;
    color: antiquewhite;
    font-size: 24px;
    font-weight: 600;
}
.available-text {
    font-size: 19px;
    color: black;
}
.create-text {
    color: lightblue;
    font-size: 24px;
}

.professional-text {
    color: black;
    font-weight: 600;
    font-size: 36px;
}


.navbar-brand {
    font-size: 25px;
    color: #009fd9;
    padding-bottom: 5px;
}


.logo-image{
    height: 40px;
    width: 45px;
    position: relative;
    bottom: 1px;
    right: 5px;
}