<form [formGroup]="taskForm" class="bg-white  contact-form" style="padding: 10px 10px 10px 10px;">
    <div>
        <h3 class="login-title">Task Details</h3>
    </div>
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Task title" [formControl]="taskForm.controls['title']">
        <div class="alert alert-danger"
            *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched">
            <small class="text-danger" *ngIf="taskForm.get('title').errors?.required"> title is
                Required</small>                   
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="description"
            [formControl]="taskForm.controls['description']">
        <div class="alert alert-danger"
            *ngIf="taskForm.controls['description'].invalid && taskForm.controls['description'].touched">
            <small class="text-danger" *ngIf="taskForm.get('description').errors?.required">Description
                is
                Required</small>                  
        </div>
                   
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="Price" [formControl]="taskForm.controls['price']">
        <div class="alert alert-danger"
            *ngIf="taskForm.controls['price'].invalid && taskForm.controls['price'].touched">
            <small class="text-danger" *ngIf="taskForm.get('price').errors?.required">Price is
                Required</small>                   
        </div>            
    </div>
    <div style="position: relative;top: 26px;">
        <button class="btn btn-primary" style="float: right;width: 160px;" [disabled]="!taskForm.valid"
            (click)="onTaskCreate()">Next</button>
    </div>
    <div style="position: relative;top: 26px;">
        <button class="btn btn-primary" style="float: left;width: 160px;" (click)="onBack()">Back</button>
    </div>
    <br>
</form>