<form [formGroup]="taskForm" class="bg-white contact-form" style="padding: 44px 15px 29px 46px;">
    <!-- <div>
        <h3 class="login-title">Task Details</h3>
    </div> -->
    <div class="modal">
        <div class="bgr-image">
            <h2 class="text-center">Please enter details about your task</h2>
            <div class="modal__content">
                <form>
                    <ul class="form-list">
                        <li class="form-list__row">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Please enter your task title"
                                    [formControl]="taskForm.controls['title']">
                                <div class="alert alert-danger"
                                    *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched">
                                    <small class="text-danger" *ngIf="taskForm.get('title').errors?.required"> Title is
                                        Required</small>  
                                    <!-- <small class="text-danger" *ngIf="taskForm.get('title').errors?.minlength "> Title
                                        must be at least 20 Characters</small>                  -->
                                </div>
                            </div>
                            <div class="form-group" style=" padding-top: 28px;">
                                <!-- <input type="text" class="form-control" placeholder="description"
                                    [formControl]="taskForm.controls['description']"> -->
                                <textarea rows="6" class="form-control"
                                    placeholder="Please type task description in detail"
                                    [formControl]="taskForm.controls['description']"></textarea>
                                <div class="alert alert-danger"
                                    *ngIf="taskForm.controls['description'].invalid && taskForm.controls['description'].touched">
                                    <small class="text-danger"
                                        *ngIf="taskForm.get('description').errors?.required">Description
                                        is
                                        Required</small> 
                                    <!-- <small class="text-danger" *ngIf="taskForm.get('description').errors?.minlength ">
                                        Description
                                        must be at least 50 Characters</small>                    -->
                                </div>
                                           
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="Price(RS)"
                                    [formControl]="taskForm.controls['price']">
                                <div class="alert alert-danger"
                                    *ngIf="taskForm.controls['price'].invalid && taskForm.controls['price'].touched">
                                    <small class="text-danger" *ngIf="taskForm.get('price').errors?.required">Price is
                                        Required</small>                   
                                </div>            
                            </div>
                        </li>
                        <li>
                            <button class="button" style="float: left;" (click)="onBack()">Back</button>
                            <button style="float: right;" type="submit" class="button" (click)="onTaskCreate()"
                                [disabled]="!taskForm.valid">Next</button>
                        </li>
                    </ul>
                </form>
            </div> <!-- END: .modal__content -->
        </div> <!-- END: .modal__container -->
    </div> <!-- END: .modal -->
    <!-- <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Task title" [formControl]="taskForm.controls['title']">
        <div class="alert alert-danger"
            *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched">
            <small class="text-danger" *ngIf="taskForm.get('title').errors?.required"> title is
                Required</small>                   
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="description"
            [formControl]="taskForm.controls['description']">
        <div class="alert alert-danger"
            *ngIf="taskForm.controls['description'].invalid && taskForm.controls['description'].touched">
            <small class="text-danger" *ngIf="taskForm.get('description').errors?.required">Description
                is
                Required</small>                  
        </div>
                   
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="Price" [formControl]="taskForm.controls['price']">
        <div class="alert alert-danger"
            *ngIf="taskForm.controls['price'].invalid && taskForm.controls['price'].touched">
            <small class="text-danger" *ngIf="taskForm.get('price').errors?.required">Price is
                Required</small>                   
        </div>            
    </div>
    <div style="position: relative;top: 26px;">
        <button class="btn btn-primary" style="float: right;width: 160px;" [disabled]="!taskForm.valid"
            (click)="onTaskCreate()">Next</button>
    </div>
    <div style="position: relative;top: 26px;">
        <button class="btn btn-primary" style="float: left;width: 160px;" (click)="onBack()">Back</button>
    </div> -->
    <br>
</form>