<section class="section pt-0 bg-white  pl-5">
    <div class="container pr-5  recent-tasks-container">
        <div class="row pr-5">
            <div class="col-lg-3" *ngIf="showFilter">
                <div class="col-12 left-sidebar">
                    <div class="accordion" id="accordionExample">
                        <div class="card rounded mt-4">
                            <!-- <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" -->
                            <!-- aria-controls="collapsetwo"> -->
                            <div class="card-header d-flex" id="headingtwo">
                                <h6 class="mb-0 text-dark f-18" style="margin-top: 4px;">Categories</h6>
                                <a style="float: right;padding-left: 52px; color: blue; cursor: pointer;"
                                    (click)="Onclear()">Clear filters</a>
                            </div>
                            <!-- </a> -->
                            <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                                <div class="card-body p-0" *ngFor="let category of allCategories; let i =index"
                                    (change)="filter($event.target.value)">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="{{category.categoryName}}"
                                            value="{{category.categoryId}}" name="customRadio1"
                                            class="custom-control-input"
                                            [checked]="(category.categoryId == catId)? true : false">
                                        <label class="custom-control-label ml-1 text-muted f-15"
                                            for="{{category.categoryName}}">{{category.categoryName}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col task-section">
                <div class="row" *ngFor=" let task of allTasks">
                    <div class="col-lg-12 mt-4" style="padding-bottom:22px;">
                        <div class="job-list-box border rounded">
                            <div class="p-3 ml-3 mr-n5">
                                <div class="row align-items-center">
                                    <!-- <div class="col-lg-2">
                                        <div class="company-logo-img new-logo">
                                            <img src="../../../../assets/logo/logot&e.png" alt=""
                                                class="img-fluid mx-auto d-block">
                                        </div>
                                    </div> -->
                                    <div class="col-lg-7 col-md-9">
                                        <div class="job-list-desc">
                                            <h6 class="mb-2"><a [routerLink]="'/taskdetails/'+ task.taskId"
                                                    class="text-dark text-size">{{task?.title}}</a></h6>
                                            <p class="text-muted mb-0"><i
                                                    class="fas fa-user mr-2"></i>{{task.User?.firstName}} {{task.User?.lastName}}
                                            </p>
                                             <h6>
                                                 <p class="text-muted mb-0" *ngIf="task?.postType=='individual'"><i
                                                    class="fas fa-medal mr-2">
                                                </i>{{task?.postType}}
                                            </p>
                                            <p class="text-muted mb-0"  *ngIf="task?.postType=='company'"><i
                                                    class="fas fa-building mr-2">
                                                </i>{{task?.postType}}
                                            </p>
                                        </h6>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-3">
                                                    <p class="text-muted mb-0"><i
                                                            class="fas fa-map-marker-alt mr-2"></i>Street:
                                                        {{task.address?.street}}
                                                    </p>
                                                </li>
                                                <li class="list-inline-item">
                                                    <p class="text-muted mb-0"><i class="mr-2"></i>City:
                                                        {{task.address?.city}}
                                                    </p>
                                                </li>

                                                <li class="list-inline-item">
                                                    <p class="text-muted mb-0"><i class="mr-2"></i>Country:
                                                        {{task.address?.country}}
                                                    </p>
                                                </li>

                                                <li class="list-inline-item" style="margin-right: 1.5rem;">
                                                    <p class="text-muted mb-0"><i
                                                            class="fas fa-rupee-sign mr-2"></i>{{task?.price}}
                                                    </p>
                                                </li>
                                                <li class="list-inline-item" style="margin-right: 1.5rem;"
                                                    *ngIf="task.task_pro?.price">
                                                    <p class="text-muted mb-0">My bidding:<i
                                                            class="fas fa-rupee-sign mr-2"></i>{{task.task_pro?.price}}
                                                    </p>
                                                </li>
                                                <li class="list-inline-item">
                                                    <p class="text-muted mb-0"><i
                                                            class="fas fa-clock mr-2"></i>{{task.createdAt | date}}</p>
                                                </li>
                                                <li class="list-inline-item" *ngIf="task.address?.contactStatus=='Yes'">
                                                    <p class="text-muted mb-0"><i
                                                    class="fas fa-clock mr-2"></i>{{task.address?.contact}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="job-list-button-sm text-right">

                                            <div class="mt-3" *ngIf="userNotLogged ">
                                                <a [routerLink]="'/joinaspro'" class="btn btn-sm btn-primary">Join As
                                                    Pro</a>
                                            </div>

                                            <div class="mt-3" *ngIf="!userNotLogged && !isPro">
                                                <a [routerLink]="'/joinaspro'" class="btn btn-sm btn-primary"
                                                    *ngIf="currentUserId !== task.userId">Become a Earner
                                                </a>

                                                <a *ngIf="currentUserId == task.userId" [disabled]="true"
                                                    style="cursor: not-allowed; opacity: 0.6;"
                                                    class="btn btn-sm btn-primary">You posted</a>
                                            </div>

                                            <div class="mt-3" *ngIf="!userNotLogged && isPro">
                                                <!-- <a *ngIf="currentUserId !== task.userId" data-toggle="modal"
                                                    data-target="#icon-close-modal" (click)="onApplyjob(task)"
                                                    class="btn btn-sm btn-primary">Apply</a> -->

                                                <a *ngIf="task.professionals?.length == 0 && currentUserId !== task.userId"
                                                    data-toggle="modal" data-target="#icon-close-modal"
                                                    (click)="onApplyjob(task)" class="btn btn-sm btn-primary">Apply</a>


                                                <a *ngIf="currentUserId == task.userId" [disabled]="true"
                                                    style="cursor: not-allowed; opacity: 0.6;"
                                                    class="btn btn-sm btn-primary">You posted</a>


                                                <div *ngFor="let data of task.professionals">
                                                    <a *ngIf="data.task_pro.proId == currentProId && data.task_pro.type !== 'request'"
                                                        [disabled]="true" style="cursor: not-allowed; opacity: 0.6;"
                                                        class="btn btn-sm btn-primary">Applied</a>


                                                    <!-- <a *ngIf="data.task_pro.proId !== currentProId && data.task_pro.type == 'request' && currentUserId !== task.userId" -->
                                                    <a *ngIf="data.task_pro.proId == currentProId && data.task_pro.type == 'request'
                                                     && currentUserId !== task.userId && data.task_pro.proId !== currentProId"
                                                        class="btn btn-sm btn-primary" data-toggle="modal"
                                                        data-target="#icon-close-modal" (click)="onApplyjob(task)">Apply
                                                    </a>

                                                    <a *ngIf="data.task_pro.proId !== currentProId && data.task_pro.type == 'request' 
                                                    && currentUserId !== task.userId" class="btn btn-sm btn-primary"
                                                        data-toggle="modal" data-target="#icon-close-modal"
                                                        (click)="onApplyjob(task)">Apply
                                                    </a>


                                                    <a *ngIf="data.task_pro.proId == currentProId && data.task_pro.type == 'request'
                                                     && currentUserId !== task.userId && data.task_pro.proId == currentProId"
                                                        class="btn btn-sm btn-primary" data-toggle="modal"
                                                        data-target="#icon-close-modal" (click)="onApplyjob(task)">Apply
                                                    </a>

                                                    <!-- <div *ngIf="data.task_pro.type == 'request'">
                                                        <a *ngIf="data.task_pro.proId !== currentProId && data.task_pro.type == 'request' 
                                                    && currentUserId !== task.userId" class="btn btn-sm btn-primary"
                                                            data-toggle="modal" data-target="#icon-close-modal"
                                                            (click)="onApplyjob(task)">Apply
                                                        </a>
                                                    </div> -->
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- county-Model -->
<div id="icon-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Task Details:-</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="form-group">
                            <label for="field-1" class="control-label">Title</label>
                            <input type="text" [readOnly]="true" class="form-control" id="field-1" placeholder="Title"
                                [formControl]="taskForm.controls['title']">
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">Description</label>
                            <input type="text" [readOnly]="true" class="form-control" id="field-1"
                                placeholder="Description" [formControl]="taskForm.controls['description']">
                        </div> -->
                        <div class="form-group">
                            <label for="field-1" class="control-label">Price</label>
                            <input type="text" class="form-control" id="field-1" placeholder="Bidding Price"
                                [formControl]="taskForm.controls['price']">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect waves-light" data-dismiss="modal"
                    (click)="onSave()">Apply</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->