<section class="ftco-section" style="margin-top: 50px;">
    <div class="container">
        <div class="heading">
            <h2>Privacy Policy</h2>
        </div>
        <label class="label-heading">INFORMATION WE COLLECT</label>

        <div class="" style="text-align: center;">
            <p class="text">
                How we collect and store information depends on how you access and use the Platform. We collect
                information in multiple ways including when you provide information directly to us, when you permit
                third parties to provide information
                to us, and when we passively collect information from you, such as information collected from yo
            </p>
            <p class="text">The information you provide directly to us may concern you or others and may include,
                but is not limited to: (a) name; (b) zip code; (c) email address; (d) home or business telephone
                number; (e) home, business or mailing address; (f) demographic information (e.g., gender, age,
                political preference, education, race or ethnic origin, and other information relevant to user
                surveys and/or offers); (g) date of birth; (h) insurance information; (i) photographs; (j)
                information about your project, request or need; (k) video or audio files; (l) in certain
                circumstances, payment and/or identity verification information; and/or (m) any other content you
                include in communications with other users through the Platform or communications with us. It may
                also include information specific to services you are requesting or offering through the Platform,
                such as a business name, service description, qualifications and credentials. You are not required
                to provide us with such information, but certain features of the Platform may not be accessible or
                available, absent the provision of the requested information..
            </p>

            <p class="text">
                We may collect information about you or others through Task&Earn affiliates or through
                non-affiliated third parties. For example, you may be able to access the Platform through a social
                networking account, such as Facebook. If you access the Platform through your Facebook account, you
                may allow us to have access to certain information in your Facebook profile. This may include your
                name, profile picture, gender, networks, user IDs, list of friends, location, date of birth, email
                address, photos, videos, people you follow and/or who follow you, and/or your posts or "likes."
                Social networking sites, such as Facebook, have their own policies for handling your information.
                For a description of how these sites may use and disclose your information, including any
                information you make public, please consult the sites' privacy policies. We have no control over how
                any third-party site uses or discloses the personal information it collects about you. <br><br>
                We may collect information about you or others through non-affiliated third parties. For example, to
                the extent permitted by law, we may, in our sole discretion, ask for and collect supplemental
                information from third parties, such as information about your credit from a credit bureau, or
                information to verify your identity or trustworthiness, or for other fraud or safety protection
                purposes. We may combine information that we collect from you through the Platform with information
                that we obtain from such third parties and information derived from any other products or services
                we provide.<br><br>
                Through non-affiliated third parties, we may also collect information that demonstrates the
                occurrence of an off-Platform communication between a Customer Member and a Service Member in order
                to ensure accurate charging of fees imposed upon Service Members and to enforce the Terms of Use.
                Except as explicitly stated herein, we will not collect or store the contents of any off-Platform
                communication between a Customer Member and a Service Member.<br><br>
                Location Information. When you use the Platform, we may collect general location information (such
                as IP address). If you install our mobile app, we may ask you to grant us access to your mobile
                device's geolocation data. If you grant such permission, we may collect information about your
                precise geolocation, and we may use that information to improve the Platform, including providing
                you with location-based features (e.g. for identification of Pro Services available near you). To
                deliver customized content and advertising, we may share your location information with our agents,
                vendors, or advertisers. If you access the Platform through a mobile device and you do not want your
                device to provide us with location-tracking information, you can disable the GPS or other
                location-tracking functions on your device, provided your device allows you to do this. See your
                device manufacturer's instructions for further details. If you disable certain functions, you may be
                unable to use certain parts of the Platform.<br><br>
            </p>
        </div>
        <label class="label-heading">WHEN TASKANDEARN DISCLOSES YOUR INFORMATION</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Unless otherwise described in this Policy, we may also share the information
                that we collect from you through the Platform as follows:
            </p>
            <ul>
                <li>
                    <p class="text">

                        Affiliates. We may share your information with any Task&Earn affiliates.
                    </p>
                </li>
                <li>
                    <p class="text">

                        Consent. We may disclose your information to nonaffiliated third parties based on your
                        consent to do so. Such consent includes the disclosure of your information (a) in order to
                        provide services or products that you have requested (please see below for more details);
                        (b) when we have your permission; or (c) as described in this Policy, the Terms of Use, or
                        any other legal terms governing your use of the Platform. </p>
                </li>
                <li>
                    <p class="text">

                        Service Providers. We may provide access to your information to select third parties who
                        perform services on our behalf. These third parties provide a variety of services to us
                        including without limitation billing, sales, marketing, advertising, market research,
                        fulfillment, data storage, analysis and processing, identity verification, fraud and safety
                        protection and legal services. As we retain new service providers, we generally seek
                        contractual assurances from these service providers that they will not use your information
                        in any manner other than to help us provide you with the services and products available
                        from Task&Earn. </p>
                </li>

                <li>
                    <p class="text">

                        Legal Requirements. We may disclose your information when required by law or when we believe
                        in good faith that such disclosure is necessary to: (a) comply with subpoenas, court orders,
                        or other legal process we receive; (b) establish or exercise our legal rights including
                        enforcing and administering agreements with users; or (c) defend Task&Earn against legal
                        claims. If we are required by law to disclose your information, we will use commercially
                        reasonable efforts to notify you unless (1) we believe in our sole discretion that providing
                        notice could create a risk of injury or death, or that harm or fraud could be directed to
                        Task&Earn or users; or (2) we are precluded from providing notice by law. We will attempt to
                        provide the notice by email if you have given us an email address. While you may challenge
                        the disclosure request, please be advised we may still be legally required to turn over your
                        information. </p>
                </li>
            </ul>

        </div>

        <label class="label-heading">ONLINE ANALYTICS AND TAILORED ADVERTISING</label>
        <div class="" style="text-align: center;">

            <p class="text">
                <i>Analytics</i><br><br>
                We may use third-party web analytics services on the Platform, such as those of Google Analytics.
                These service providers use the sort of technology described in the Information That Is Passively or
                Automatically Collected section above to help us analyze how users use the Platform, including by
                noting the third-party website from which you arrive. The information collected by the technology
                will be disclosed to or collected directly by these service providers, who use the information to
                evaluate your use of the Platform. We also use Google Analytics for certain purposes related to
                advertising, as described in the following section. To prevent Google Analytics from using your
                information for analytics, you may install the Google Analytics Opt-Out Browser Add-on.<br><br>

                <i>Tailored Advertising</i><br><br>
                Third parties whose products or services are accessible or marketed via the Platform may also place
                cookies or other tracking technologies on your computer, mobile phone, or other device to collect
                information about your use of the Platform in order to (a) inform, optimize, and serve marketing
                content based on past visits to our websites and other sites and (b) report how our marketing
                content impressions, other uses of marketing services, and interactions with these marketing
                impressions and marketing services are related to visits to our websites. We also allow other third
                parties (e.g., ad networks and ad servers such as Google Analytics, DoubleClick, Facebook and
                others) to serve tailored marketing to you and to access their own cookies or other tracking
                technologies on your computer, mobile phone, or other device you use to access the Platform. We
                neither have access to, nor does this Policy govern, the use of cookies or other tracking
                technologies that may be placed on your computer, mobile phone, or other device you use to access
                the Platform by non-affiliated, third-party ad technology, ad servers, ad networks or any other
                non-affiliated third parties. Those parties that use these technologies may offer you a way to opt
                out of targeted advertising as described below. You may receive tailored advertising on your
                computer through a web browser. Cookies may be associated with de-identified data linked to or
                derived from data you voluntarily have submitted to us (e.g., your email address) that we may share
                with a service provider in hashed, non-human-readable form.<br><br>
            </p>
        </div>



        <label class="label-heading">ELIGIBILITY, SERVICE MEMBER REPRESENTATIONS, WARRANTIES, AND USE OF THE
            PLATFORM</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Access to and use of the Platform is available only to individuals who are at least 18 years old and
                can form legally binding contracts under applicable law.
                By accessing or using the Platform, you represent and warrant that you are eligible.<br><br>

                By registering or using the Platform to offer, post, or provide Pro Services, Service Members
                represent
                and warrant that they, and the employees, agents, contractors, and subcontractors who may perform
                work for them,
                are properly and fully qualified and experienced, and licensed, certified, bonded, and insured, as
                required by
                applicable laws or regulations to which they may be subject in the jurisdiction(s) in which they
                offer their Pro
                Services and in relation to the specific job they are performing. Service Members otherwise agree to
                comply with all
                applicable laws, including the
                Consumer Privacy Act, in their use of the Platform and any personal information obtained from the
                Platform.<br><br>
                Task&Earn is not in the business of providing Pro Services. Service Members understand and agree
                that by creating and maintaining an account on the Platform, they receive only the ability to use
                the Task&Earn Platform to access persons interested in receiving Pro Services and related tools,
                including but not limited to the ability to message those persons or schedule appointments, that
                facilitate the provision of Pro Services. For example, Customer Members may use the Platform to
                intentionally interact with Service Members regarding Pro Services. Service Members understand and
                agree that using the Platform does not guarantee that anyone will engage them for Pro
                Services.<br><br>

                Service Members understand and agree that they are customers of Task&Earn, and are not Task&Earn
                employees, joint venturers, partners, or agents. Service Members acknowledge that they set or
                confirm their own prices, provide their own equipment, and determine their own work schedule.
                Task&Earn does not control, and has no right to control, the services a Service Member provides
                (including how the Service Member provides such services) if the Service Member is engaged by a
                Customer Member or any other person, except as specifically noted herein.<br>

            </p>
        </div>
    </div>
</section>