.banner {
    position: absolute;
    margin-top: 83px !important;
    width: 100%;
    height: 250px;
}

.title-text {
    position: relative;
    font-size: 50px;
    display: flex;
    padding-top: 159px;
    justify-content: center;
}

@media (max-width: 430px) and (min-width:300px) {
    .title-text {
     font-size: 35px;
     padding-top: 50px !important;
    }
  }