.banner {
    height: 297px;
    width: 102%;
    margin-top: 85px;
    position: relative;
}

.title-text {
    position: relative;
    color: whitesmoke;
    font-size: 50px;
    left: 500px;
    bottom: 203px;
}