<form [formGroup]="joinForm" class="bg-white  contact-form" *ngIf="!isTask"
    style="padding: 25px 10px 14px 10px!important;">
    <div class="login-title">
        <p>Select Category</p>
    </div>
    <div class="form-group">
        <select class="form-control" (change)="categoryName($event.target.value)">
            <option value=" default">Select Category</option>
            <option *ngFor="let category of allCategories" value="{{category.categoryId}}">
                {{category.categoryName}}</option>
        </select>
    </div>
    <div class="form-group mt-2" style="text-align: right;">
        <button [disabled]="isDisabled" class="btn btn-primary" (click)="onNext()" style=" width: 160px;">Next</button>
    </div>
    <br>
</form>


<form [formGroup]="joinForm" class="bg-white contact-form" *ngIf="isTask"
    style="padding: 25px 10px 14px 10px!important;">
    <div class="login-title">
        <p>Select Category</p>
    </div>
    <div class="form-group">
        <select class="form-control" (change)="categoryName($event.target.value)">
            <option value=" default">Select Category</option>
            <option *ngFor="let category of allCategories" value="{{category.categoryId}}">
                {{category.categoryName}}</option>
        </select>
    </div>
    <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="City" [formControl]="joinForm.controls['city']">
        <small class="text-danger" *ngIf="joinForm.get('city').errors?.minlength "> City name must be
            at least 2 Characters</small>            
    </div> -->
    <div class="form-group mt-2" style="text-align: right;">
        <button [disabled]="isDisabled" class="btn btn-primary" (click)="onNext()" style=" width: 160px;">Next</button>
    </div>
    <br>
</form>