@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-wrapper {
    margin-top: 40px;
    animation-name: fadein;
    animation-duration: 4s;
}

.logo-wrapper .logo {
    width: 14%;
    margin: 0 auto;
}

.logo-wrapper .logo img {
    width: 100%;
}

.form-wrapper {
    padding: 40px 10px;
}

.form-wrapper form {
    padding: 40px 80px;
    background: #fff;
    border: 0px solid #ccc;
    color: grey;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    animation-name: fadein;
    animation-duration: 2s;
}

.form-wrapper legend {
    border: 0;
    font-weight: 600;
    color: black;
    font-size: 36px;
}

.form-wrapper fieldset label.input {
    font-weight: 700;
    color: black;
    font-size: 18px;
}

.form-wrapper fieldset input {
    border-radius: 10;
    background-color: white;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 15px;
    height: 50px;
}

.form-wrapper button {
    float: right;
    border-radius: 10;
    border: 0px solid #ccc;
    font-size: 18px;
    padding: 15px 25px 15px 25px;
    background-color: #000 !important;
}

.form-wrapper button:hover {
    background-color: #EF7745;
}

.form-group {
    margin-bottom: 0px !important;
    padding-bottom: 10px !important;
}

button[disabled] {
    cursor: not-allowed;
}

.login-title {
    font-size: 35px;
    color: #6c63ff;
    text-align: center;
}

.pro-row {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}

.form-box {
    justify-content: center;
}

.shared-form {
    width: 100% !important;
    line-height: 0.8;
}