<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row block-5">
            <div class="col-md-6 order-md-last d-flex">
                <app-category (categoryEvent)="selectedCategory($event)" *ngIf="currentViewId == 0"></app-category>
                <app-sub-category [categorysId]="categoryListId" (subCatList)="subCategoryList($event)"
                    *ngIf="currentViewId == 1"></app-sub-category>
                <app-tasks *ngIf="currentViewId == 2"> </app-tasks>
            </div>
            <div class="col-md-6 d-flex">
                <img class="one-third align-self-end order-md-last img-fluid"
                    src="../../assets/template/images/workers.png" alt="">
            </div>
        </div>
        <div class="form-group mt-2" style="text-align: center;">
            <button class="btn btn-primary" style="float: right;" (click)="onNext()">Next</button>
        </div>
        <div class="form-group mt-2" style="text-align: center;" *ngIf="currentViewId !== 0">
            <button class="btn btn-primary" style="float: right;" (click)="onBack()">Back</button>
        </div>
    </div>
</section>