<form class="bg-white contact-form" style="padding: 44px 15px 29px 46px;">
    <!-- <div>
        <h2 class="login-title">Select the subcategories you offer.</h2>
    </div>
    <div class="form-group" *ngFor="let subCat of subCategoryList" (change)="onChange($event.target.checked, subCat)">
        <div class="checkbox">
            <label class="subCat-label"><input type="checkbox" value="subCat.subCategoryId"><span
                    class="subcat-text">{{subCat.SubCategoryName}}</span></label>
        </div>
    </div>
    <div class="form-group mt-2">
        <button [disabled]="isDisabled" class="btn btn-primary" (click)="onNext()"
            style="float: right; width: 160px;">Next</button>
    </div>
    <div class="form-group mt-2">
        <button class="btn btn-primary" (click)="onBack()" style="float: left; width: 160px;">Back</button>
    </div> -->
    <div class="modal">
        <div class="modal__container bgr-image" style="height: 400px;">
            <div class="modal__featured">
                <h2 class="text-center ctr">Select other service</h2>
                <!-- <div class="modal__circle"></div> -->
                <!-- <img src="../../../../assets/template/images/yardwork-removebg-preview.png" class="modal__product" /> -->
            </div>
            <div class="modal__content">
                <form class="ctr">
                    <ul class="form-list">
                        <li class="form-list__row">
                            <div class="form-group" *ngFor="let subCat of subCategoryList"
                                (change)="onChange($event.target.checked, subCat)">
                                <div class="checkbox">
                                    <label class="subCat-label">
                                        <input type="checkbox" class="checkBox" value="subCat.subCategoryId"><span
                                            class="subcat-text">{{subCat.SubCategoryName}}</span></label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button class="button" (click)="onBack()" style="float: left;">Back</button>
                            <button [disabled]="isDisabled" style="float: right;" type="submit" class="button"
                                (click)="onNext()">Next</button>
                        </li>
                    </ul>
                </form>
            </div> <!-- END: .modal__content -->
        </div> <!-- END: .modal__container -->
    </div> <!-- END: .modal -->
</form>