<form class="bg-white contact-form" style="padding: 44px 15px 29px 46px;">
    <div class="modal">
        <div class="bgr-image" style="min-height: 400px;">            
            <h2 class="text-center">Select other service</h2>
            <div class="modal__content">
                <form>
                    <ul class="form-list">
                        <li class="form-list__row">
                            <div class="form-group" *ngFor="let subCat of subCategoryList"
                                (change)="onChange($event.target.checked, subCat)">
                                <div class="checkbox">
                                    <label class="subCat-label">
                                        <input type="checkbox" class="checkBox" value="subCat.subCategoryId"><span
                                            class="subcat-text">{{subCat.SubCategoryName}}</span></label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button class="button" (click)="onBack()" style="float: left;">Back</button>
                            <button [disabled]="isDisabled" style="float: right;" type="submit" class="button"
                                (click)="onNext()">Next</button>
                        </li>
                    </ul>
                </form>
            </div> <!-- END: .modal__content -->
        </div> <!-- END: .modal__container -->
    </div> <!-- END: .modal -->
</form>