<section class="ftco-section contact-section bg-light" *ngIf="!show">
    <div class="container">
        <div class="row block-5" style="justify-content: center;">
            <div class="col-md-6 d-flex" style="padding-top: 19px;">

                <form [formGroup]="forgotPasswordForm" class="bg-white pb-5 pr-5 pl-5 pt-3 contact-form" style="height:100%;">
                    <div class="login-title">
                        <p>Reset Password</p>
                    </div>
                    <div class="form-group">
                        <input name="email" class="form-control email" type="email" placeholder="Email"
                            [formControl]="forgotPasswordForm.controls['email']">
                        <span class="text-warning">If your email exists, we will send you a link to reset your
                            password.</span>

                        <div class="alert alert-danger" *ngIf="emailNotFound">
                              
                            <i>Sorry, we don't recognize that email address. Please try again.</i>                   
                        </div><br>
                    </div>
                    <div class="form-group mt-2" style="text-align: center;">
                        <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary"
                            (click)="sendEmail()">Submit</button>
                    </div>
                    <div style="text-align: center;">
                        <a [routerLink]="['../login']">Back to Login Page</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>