<form [formGroup]="professionalForm" class="bg-white p-5 contact-form" style="height: 100%;">
    <div class="login-title">
        <p>Professional Details</p>
    </div>
    <div class="form-group">
        <label></label>
        <input type="text" class="form-control" placeholder="Title" [formControl]="professionalForm.controls['title']">
        <div class="alert alert-danger"
            *ngIf="professionalForm.controls['title'].invalid && professionalForm.controls['title'].touched">
            <small class="text-danger" *ngIf="professionalForm.get('title').errors?.required"> title is
                Required</small>                   
        </div>
    </div>
    <div class="form-group">
        <label>Rating</label>
        <input type="text" class="form-control" placeholder="Rating"
            [formControl]="professionalForm.controls['rating']">
        <div class="alert alert-danger"
            *ngIf="professionalForm.controls['rating'].invalid && professionalForm.controls['rating'].touched">
            <small class="text-danger" *ngIf="professionalForm.get('rating').errors?.required">Rating
                is Required</small>                  
        </div>         
    </div>
    <div class="form-group">
        <label>Introduction</label>
        <input type="text" class="form-control" placeholder="Introduction"
            [formControl]="professionalForm.controls['Introduction']">
        <div class="alert alert-danger"
            *ngIf="professionalForm.controls['introduction'].invalid && professionalForm.controls['introduction'].touched">
            <small class="text-danger" *ngIf="professionalForm.get('introduction').errors?.required">introduction is
                Required</small>                   
        </div>            
    </div>
    <br>
    <div>
        <button class="btn btn-primary" style="float: right;" (click)="professionalDetails()">Submit</button>
    </div>
</form>