<section class="ftco-section" style="margin-top: 50px;">
    <div class="row heading-row">
        <div class="col-10 ">
            <div class="heading">
                <h2>This is our story</h2>
            </div>
            <p class="text">
                In the era of instant-everything, it’s crazy that you still have to waste an entire afternoon
                researching, calling and comparing local pros whenever you need one. So we set out to make it easier.
                Today, millions of customers use Task&Earn technology to find and hire small businesses across the
                country.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="image-position-left">
            <img src="../../../../assets/image/cleaning_image-removebg-preview.png" alt="">
        </div>

        <div class="image-right-text">
            <p class="img-text">
                But you want to know what really gets us out of bed in the morning?<br>
                Helping landscapers. Painters. Personal trainers. Dance teachers. Entrepreneurs<br> who take what
                they’re
                great at and turn it into something greater.<br>
                Busy Moms. Commuters. Homeowners. Pet parents. People with big plans<br> (and even bigger to-do lists)
                who want some help getting them done.
            </p>
        </div>

    </div>

    <div class="row">
        <div class="image-position-right">
            <img src="../../../../assets/image/cleaning_image-removebg-preview.png" alt="">
        </div>

        <!-- <div class="image-left-text">
            <p class="img-text">
                But you want to know what really gets us out of bed in the morning?<br>
                Helping landscapers. Painters. Personal trainers. Dance teachers. Entrepreneurs<br> who take what
                they’re
                great at and turn it into something greater.<br>
                Busy Moms. Commuters. Homeowners. Pet parents. People with big plans<br> (and even bigger to-do lists)
                who want some help getting them done.
            </p>
        </div> -->

    </div>




</section>
<!-- <section class="ftco-section">
   
</section> -->