<div class="container about-contain">
    <div class="col-lg-12 text-center">
        <div class="title-position">
            <h2 class="heading about-text">{{pageTitle}}</h2>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="row heading-row">
        <div class="col-lg-4 col-sm-12 img-div">
            <div class="image-position-left">
                <img src="../../../../assets/template/images/taskPaintercroped.png" class="about-img"
                    alt="Task and earn image">
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 text-div">
            <div class="heading our-story">
                <h2>Our Story</h2>
            </div>
            <p class="text">
                Task and Earn provide an online platform for everyone to meet their task needs.
            </p>
            <p class="text">
                We live in a digital world where individuals don't really follow the papers or traditional
                advertisements for posting a job or task rather it is the explosion of a virtual world. Thus, Task and
                Earn increases the probability of matching you with almost every level of experienced taskers as we
                connect you with them digitally.
            </p>
            <p class="text">
                Moreover, traditional methods of advertising tasks and jobs would mean less choice among your selection
                criteria.
            </p>
            <p class="text">
                So, why worry spending your time and money on advertising for various jobs that you need help with?
                Worry no more!
            </p>
            <p class="text">
                Task and Earn equip you with easy navigation via our website just so that you can straightforwardly post
                your task necessity in minutes. It's hassle free, efficient, quick, costless and really simple.
            </p>
            <p class="text">
                There is no more a requisite to spend your precious time on the phone communicating with advertisement
                departments or any other agencies to look out for help in regards to any task.
            </p>
            <p class="text">
                Be it if you are seeking help with any tasks such related with cleaning, technician, tutor, website
                designer, plumber or even any other experienced individuals from various departments.
            </p>
            <p class="text">
                We are the task matching experts, so we match you with verified and competent taskers to perform your
                job in time on a real-time basis.
            </p>
            <p class="text">
                The best part of it is that unlike many other agencies and other online agencies, there is absolutely no
                need for any advance payments to use our website or post any tasks.
            </p>
        </div>
    </div>
</section>