.heading-row {
    /* margin-left: 247px;
    padding-left: 166px; */
    padding-right: 201px;
}

.text-div {
    padding-left: 226px;
}

.text {
    color: black;
    font-size: 16px;
    letter-spacing: normal;
    text-align: left;
}

/* .image-position-left {
    margin-top: 70px;
    padding-left: 47px;
} */

.image-position-right {
    float: right !important;
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}

.img-text {
    color: black;
    font-size: 18px;
    letter-spacing: normal;
    text-align: left;
    padding-top: 193px;
    line-height: 2.6;
    padding-left: 389px;
}

.ftco-section {
    padding-top: 7em;
    padding-right: 0px;
    padding-bottom: 0em !important;
    padding-left: 0px;
    position: relative;
}