<!-- <div class="container about-contain">
  <div class="col-lg-12 text-center">
    <div class="title-position">
      <h2 class="heading about-text">{{ pageTitle }}</h2>
    </div>
  </div>
</div> -->
<section class="ftco-section">
  <div class="row heading-row">
    <div class="row col-12">
      <div class="w-100 mt-5">
        <img
          src="../../../../assets/image/pexels-fauxels-3184418.jpg"
          class="about-img about-img h-50 min-vw-100"
          alt="Task and earn image"
        />
      </div>
    </div>
    <div class="ml-5 mr-5 p-5 row textblock">
      <div class="heading our-story">
        <h2 style="font-weight: bold">Our Story</h2>
      </div>
      <p class="our-story-para mt-4">
        <strong>Taskandearn</strong> is a trusted gig network launched to link people who need to
        outsource tasks and find services, with people looking for employment.
        Started in <strong>2018</strong> , Task And Earn (T&E) provides an online platform for
        everyone to meet their task needs. T&E partners with our customers and
        business associates all over India to focus on what matters most, thus
        enabling customers and job seekers to succeed in their tasks with full
        potential. We will help you with everything ranging from housecleaning
        to handyman jobs, admin work, Interior designing, Digital marketing,
        photography, graphic design, copy writing, web developer and many more
        such tasks. Our platform aims to empower skilled people and get them to the doorstep
        of the recruiters irrespective of their specialization so that they
        benefit mutually. Through this platform, anyone can build a career in
        any field of their choice and earn. You can be an "earner" or can "post
        a job" and get your task done in no time. Job seekers can apply for the
        job of their choice and employers can see the profiles and choose the
        right one to get their task done.So are you someone looking for an internship or a job? 
        We have multiple
        opportunities available for you! Find the field or task you are
        interested to work for and upload your profile along with your skills
        and work to get hired. No matter if you are in school or college if you
        have the relevant skills and talent anyone can outsource remote task to
        you!Moreover, we have myriad professionals as well in various fields who
        will serve you as per the requirement. Now, you may go online or download the app 'Taskandearn' to
         meet all
        your needs.
      </p>
      <p class="text">
    
      </p>
      <p class="text">
       
      </p>
      <p class="text">
        
      </p>
      <p class="text">
        
      </p>
      <p class="text">
       
      </p>
    </div>
  </div>
</section>
