<section class="section" style="margin-top: 118px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 pt-2" *ngIf="!showFilter">
                <div class="left-sidebar">
                    <div class="accordion" id="accordionExample">

                        <div class="card mt-4 rounded border-bottom-0">
                            <a data-toggle="collapse" href="#collapsethrees" class="job-list" aria-expanded="true"
                                aria-controls="collapsethree">
                                <div class="card-header d-flex" id="headingthree">
                                    <h6 class="mb-0 text-dark" style="margin-top: 4px;">Categories</h6>
                                    <a style="float: right; padding-left: 52px; color: blue; cursor: pointer;"
                                        (click)="onClear()">
                                        Clear filters
                                    </a>
                                </div>
                            </a>
                            <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                                <div class="card-body p-0" (change)="filter($event.target.value)">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="AllCategories" value="0" name="customRadio"
                                            class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted" for="AllCategories">All
                                            Categories
                                        </label>
                                    </div>
                                </div>

                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio"
                                        *ngFor="let category of allCategories; let i =index"
                                        (change)="filter($event.target.value)">
                                        <input type="radio" id="{{category.categoryName}}"
                                            value="{{category.categoryId}}" name="customRadio1"
                                            class="custom-control-input"
                                            [checked]="(category.categoryId == catId)? true : false">
                                        <label class="custom-control-label ml-1 text-muted"
                                            for="{{category.categoryName}}">{{category.categoryName}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="d-flex justify-content-lg-end show-unarchive-block">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="getArchieveUsers($event.target.checked)">
                <label class="form-check-label" for="flexCheckDefault">
                 Show only archived
                </label>
                </div>
            </div>
                <div class="row profile-row">
                            
                    <div class="col-lg-4 col-md-6 mt-4 pt-2" *ngFor=" let professional of allProfessionalsList;">
                        <div class="employers-list position-relative pb-3 pt-3 pl-2 pr-2 border rounded">
                            <img src="../../../../assets/template/images/user.svg" alt=""
                                class="mx-auto d-block shadow border rounded-circle" height="90"
                                *ngIf="!professional?.img">
                            <img src="{{professional?.img?.downloadLink}}" alt=""
                                class="mx-auto d-block shadow border rounded-circle" height="90"
                                *ngIf="professional?.img?.downloadLink" width="90px">
                            <div class="grid-list-desc text-center mt-3">
                                <h5 class="mb-2">
                                    <a href="#" class="text-dark name">
                                        {{professional?.firstName}} {{professional?.lastName}}
                                    </a>
                                </h5>
                                <p class="text-muted mb-0">
                                    {{professional?.category?.categoryName}}
                                </p>
                                <p class="text-muted mb-0">
                                    <i class="fas fa-map-marker mr-2"></i>
                                    {{professional?.address?.city | titlecase }}
                                </p>
                                <p class="text-muted mb-0">
                                    <i class="fas fa-mobile mr-2"></i>{{professional?.mobile}}
                                </p>
                            </div>
                            <div class="text-center mt-3">
                                <a [routerLink]="'/become-earner-profile/' + professional?.proId"
                                    class="btn btn-primary btn-sm mr-1" title="View Profile">
                                    View Profile
                                </a>
                                <button class="btn btn-secondary btn-sm" title="Archive this professional"
                                    (click)="onClickArchive(professional)">
                                    {{professional.isArchive ? "Unarchive" : "Archive"}}
                                </button>
                            </div>
                            <div class="fav-collection fav-icon">
                                <i class="mdi mdi-heart" title="Collect Now"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>