.fav-icon i {
    -webkit-text-stroke: 2px #e43f52;
    -webkit-text-fill-color: transparent;
}

.fav-icon i:hover {
    -webkit-text-stroke: 0px #e43f52;
    -webkit-text-fill-color: #e43f52;
}

.employers-list {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.employers-list .name:hover {
    color: #2f55d4 !important;
}

.employers-list .fav-collection {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
}

.employers-list:hover {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.employers-list:hover .fav-collection {
    opacity: 1;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
    margin-bottom: 5px;
}

.text-muted {
    color: #8492a6 !important;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
    margin-bottom: 5px;
}

.text-dark {
    color: #3c4858 !important;
}

/* tasklist */

.recent-tasks {
    overflow-y: auto;
    height: 500px;
    border: 1px solid;
    box-shadow: 0 0 15px -1px #6c63ff;
}

.task-name {
    color: black;
    font-size: 24px;
}

.recent {
    overflow-y: hidden;
}

/********************
    job-listing
*********************/

.job-box {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.job-box .lable {
    width: 200px;
    position: absolute;
    top: -2px;
    left: -86px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 1;
    background: #d8dff7;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.job-box .lable h6 {
    font-size: 12px;
}

.job-box:hover {
    border-color: #849ae5 !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.job-box:hover .lable {
    background: #2f55d4;
}

.job-list-reg-form {
    position: relative;
    bottom: 45px;
    -webkit-box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.left-sidebar .card-body {
    border-bottom: 1px solid #eaedf6;
}

a.job-list[data-toggle=collapse]:before {
    content: '\f374';
    display: block;
    font-family: 'Material Design Icons';
    font-size: 20px;
    color: #161c2d;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.job-list[data-toggle=collapse].collapsed:before {
    content: '\f415';
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.job-list {
    position: relative;
}

.card-header {
    background-color: transparent;
    margin-bottom: 0 !important;
}

.custom-control-label:before {
    border: 1px solid #8492a6;
    background-color: transparent;
    width: 17px;
    height: 17px;
    top: 3px;
}

.custom-control-label:after {
    width: 18px;
    height: 18px;
    top: 2px;
    left: -25px;
}

.custom-control {
    margin: 11px 20px;
}

.nice-select:after {
    margin-top: -5px;
    height: 7px;
    width: 7px;
}

.apply-btn-sm {
    padding: 6px 20px;
    border-radius: 4px;
}

.job-list-box {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.job-list-box:hover {
    border-color: #849ae5 !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.profile-row {
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .col-lg-9 {
        -ms-flex: 0 0 75% !important;
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }
}

.col-lg-9 .col-md-8 {
    position: relative !important;
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}