<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Customers</h2>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="'/register'" class="py-2 d-block">Register</a></li>
                        <li><a [routerLink]="'/task'" class="py-2 d-block">Post a Task</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Professionals</h2>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="'/joinaspro'" class="py-2 d-block">Become a Earner</a></li>
                        <li><a [routerLink]="'/alltasks'" class="py-2 d-block">Task Search</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Support</h2>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="'/terms'" class="py-2 d-block">Terms and Conditions</a></li>
                        <li><a [routerLink]="'/privacy'" class="py-2 d-block">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                        class="text">info@taskandearn.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>