<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <!-- <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About</h2>
                    <p>In the era of instant-everything, it’s crazy that you still have to waste an entire afternoon
                        researching, calling
                        and comparing local pros whenever you need one. So we set out to make it easier.
                        Today, millions of customers use Task&Earn technology to find and hire small businesses across
                        the country..</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-md">
                <div class="ftco-footer-widget mb-4" style="margin-left: 14px;">
                    <h2 class="ftco-heading-2">Users</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Register</a></li>
                        <li><a href="#" class="py-2 d-block">Post a Task</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Professionals</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Register</a></li>
                        <li><a href="#" class="py-2 d-block">Task Search</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Support</h2>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="'/terms'" class="py-2 d-block">Terms and Conditions</a></li>
                        <li><a [routerLink]="'/privacy'" class="py-2 d-block">Privacy policy</a></li>
                        <li><a class="py-2 d-block">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text"> Lone Ivy Rd Stuart,
                                    Virginia(VA), 24171</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">(276) 930-483-7691
                                    </span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                                        class="text">info@taskandearn.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>