<app-banner [title]="pageTitle" [imgSrc]="imageSrc"></app-banner>
<section class="section" style="margin-top: 150px; margin-bottom: 50px;">
    <div class="container" *ngFor=" let task of allTasks">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-dark mb-3">{{task.title}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="job-detail border rounded p-4">
                    <div class="job-detail-content">
                        <img src="../../../../assets/template/images/taskandearn-logo.png" alt=""
                            class="img-fluid float-left mr-md-3 mr-2 mx-auto d-block">
                        <div class="job-detail-com-desc overflow-hidden d-block">
                            <h4 class="mb-2"><a href="#" class="text-dark">{{task.title}}</a></h4>
                            <!-- <p class="text-muted mb-0"><i class="mdi mdi-link-variant mr-2"></i>Web Themescode.pvt.Ltd
                            </p> -->
                            <p class="text-muted mb-0"><i class="fas fa-map-marker mr-2"></i>{{task.address.city}}</p>
                        </div>
                    </div>

                    <div class="job-detail-desc mt-4">
                        <p class="text-muted mb-3">
                            <label>Description :</label><br>
                            {{task.description}}

                        </p>
                    </div>
                </div>
                <div class="job-detail-desc mt-4" *ngIf="user === task.User.userId">
                    <p class="text-muted mb-3">
                        <label style="font-weight: bold; color: black;">Similar professional's who are applied for this
                            task
                            :</label><br>
                    </p>

                    <div class="table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Professional Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let  pro of proList">
                                <tr>
                                    <td>{{pro.User?.firstName}}</td>
                                    <td>{{pro.task_pro?.price}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 mt-4 mt-sm-0">
                <div class="job-detail border rounded p-4">
                    <h5 class="text-muted text-center pb-2"><i class="fas fa-user mr-2"></i>Posted By</h5>

                    <div class="job-detail-location pt-4 border-top">
                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="fas fa-user text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{task.User.firstName}} </p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="far fa-envelope text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">:{{task.User.email}}</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="fas fa-dollar-sign text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{task.price}}</p>
                        </div>
                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="fas fa-clock text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{task.createdAt | date}}</p>
                        </div>
                        <h5 class="text-muted text-center pb-2 mt-2"><i class="fas fa-map-marker mr-2"></i>Location</h5>
                        <div class="job-details-desc-item  border-top">
                            <div class="float-left mr-2">
                                <i class="fas fa-map-marker text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">:
                                {{task.address.street}}
                            </p>
                            <p class="text-muted mb-2" style="margin-left: 30px;">
                                {{task.address.city}}
                            </p>
                            <p class="text-muted mb-2" style="margin-left: 30px;">{{task.address.country}}
                            </p>

                            <p class="text-muted mb-2" style="margin-left: 30px;">{{task.address.pincode}}</p>
                        </div>
                    </div>
                </div>
                <div class="job-detail border rounded mt-4" *ngIf="user !== task.User.userId">
                    <a class="btn btn-primary btn-block" *ngIf="!applied">Apply For Job</a>
                    <a [disabled]="true" style="opacity: 0.6;" class="btn btn-primary btn-block"
                        *ngIf="applied">Applied</a>
                </div>
            </div>
        </div>
    </div>
</section>