.task-details {
    color: black;
    padding-top: 8px;
}

.details-label {
    font-size: 18px;
    padding-left: 10px;
    font-weight: 600;
}

.task-detail {
    font-size: 20px;
    font-weight: 200;
}

.task-address {
    color: black;
    font-size: 19px;
    padding-top: 8px;
    font-weight: 200;
}

.taskAddress-span {
    font-size: 20px;
    padding-left: 10px;
    font-weight: 600;
    padding-bottom: 4px;
}

.address-col {
    left: 100px;
}

.taskAddress {
    margin-bottom: 5px;
}

.task-detail {
    margin-bottom: 8px;
}

.card-group {
    background-color: #f8f9fa;
    border: 1px solid;
    /* box-shadow: 0 0 15px -1px #009fd9; */
}

.address-card {
    background-color: #f8f9fa;
}

.task-card {
    background-color: #f8f9fa;
}

/* .table {
    text-align: center;
} */