<div class="row pb-4 mt-5 pt-5 heading1">
  <div class="col-12">
    <div style="text-align: center">
      <div class="flex">
        <h2
          class="pb-4 pt-5"
          style="font-size: 40px; font-weight: 600; font-family: inherit"
        >
          Build your career with us.
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="row ml-5 pl-5">
      <div class="pl-5 ml-2">
        <h2>Showcase your work.</h2>
      </div>

      <div class="display-text">
        <span>
          Display your best work and envice that your are right person for the
          job.
        </span>
      </div>
    </div>
    <div class="row ml-5 earn-money">
      <div>
        <h2>Earn money, earn Happiness!</h2>
      </div>

      <div class="choose-text mr-5">
        <span>
          Choose the job of your choice, to experience the ultimate satisfaction
          and happiness by doing what you like.
        </span>
      </div>
    </div>
    <div class="row ml-5 online-text">
      <div class="ml-5 build-text">
        <h2>Build online reputation and earn.</h2>
      </div>

      <div class="pb-5 earn-money">
        <span>
          Serve the employers, get their feedback, make your profile stronger
          keep up your online reputation and earn loyality.
        </span>
      </div>
    </div>
  </div>
  <div class="col-6 image1">
    <div>
      <img
        class="d-block w-75"
        src="../../../../assets/template/images/person.png"
      />
    </div>
  </div>
</div>
<div>
  <div class="row pb-3">
    <div class="col-12">
      <div class="pt-5">
        <div class="flex task-text">
          <h2 class="font-weight-bold">Now, manage your tasks like pro!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row ml-5 mr-5 heading4">
        <h2>The skilled experts reach you.</h2>
        <div class="pb-3 para4">
          <span>
            Opportunites with inviting benefits and attarctive salaries never go
            unnoticed by top quality professional .you may find them approaching
            you for the available roles.
          </span>
        </div>
      </div>
      <div class="row ml-5">
        <div class="heading5">
          <h2>Productivity as its best reaches you at your doorstep.</h2>
        </div>
        <div class="pb-3 ml-5 para5">
          <span>
            No matter where you are and what your requirement is highly skilled
            professionals will arrive at your doostep to complete the tastk with
            maximum efficieny.
          </span>
        </div>
      </div>
      <div class="row ml-5 ml-5 pb-5 maintain-text">
        <div class="heading6">
          <h2>Maintain your work-life balance.</h2>
        </div>
        <div class="para6">
          <span>
            When professional are here to help you with your task why overburden
            yourself? Hire our professional to take a break from the work load
            and maintain your work-life balance.
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-md-n5 image2">
      <div class="pt-5">
        <img
          class="d-block w-75 screen-image"
          src="../../../../assets/template/images/window.png"
        />
      </div>
    </div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-12">
    <div class="notify-text">
      <div class="flex">
        <span>We notify you.</span>
      </div>
    </div>
  </div>
</div>
<div class="mobile-page row justify-content-center pt-2 pb-5">
  <div class="flex mt-n4 mr-5">
    <div class="col-12 col-md-6">
      <div>
        <img class="d-block" src="../../../../assets/image/mobile.jpg" />
      </div>
    </div>
  </div>
  <div class="flex">
    <div>
      <div class="col-12 mt-5 pt-5">
        <h2 class="mb-5">The skilled experts reach you.</h2>
      </div>
      <div class="col-12 pt-3">
        <h2 class="mb-5">Connect the experts directly.</h2>
      </div>
      <div class="col-12 pb-5 mb-5 pt-2 para9">
        <h2>
          Get your task done in no time!.
        </h2>
      </div>
    </div>
  </div>
</div>

<!-- <div class="" style="margin-top: 118px; margin-bottom: 50px">
  <app-shared-professional
    [allProfessionalsList]="allProfessionalsList"
    [allCategories]="allCategories"
    (filterEvent)="onFilter($event)"
    (clearEvent)="clear($event)"
  >
  </app-shared-professional>
</div> -->
