@media (min-width: 992px) {
  /* .build-text {
    font-size: 12px;
    font-weight: 600;
    font-family: "inherit";
    padding-left: 106px;
    padding-right: 44px;
  } */
  .show-text {
    font-family: inherit;
    padding-left: 106px;
    padding-right: 44px;
  }
  .earn-money {
    padding-left: 75px;
    padding-right: 44px;
    margin-left: 130px;
  }
  .skill-text {
    padding-left: 88px;
    padding-right: 0px;
  }
  .manage-text {
    font-weight: 600;
    font-family: inherit;
  }
  /* .heading5 {
    padding-left: 90px;
    padding-right: 44px;
  } */
  .maintain-text {
    /* padding-left: 90px; */
    padding-right: 146px;
  }
}

  
.career-text {
  font-size: 40px;
  font-weight: 600;
  font-family: inherit;
}
.heading1 {
  font-size: 12px;
  font-weight: 600;
  font-family: inherit;
  padding-left: 106px;
  padding-right: 44px;
  margin-top: 40px;
}
.display-text {
  font-size: 18px;
  color: black;
  line-height: 1.3;
  font-weight: 300;
}
.online-text {
  font-size: 15px;
  color: black;
  line-height: 1.3;
  font-weight: 300;
}

.display-text {
  margin-left: 60px;
  margin-right: 224px;
}
.choose-text {
  padding-right: 56px;
  font-size: 18px;
  color: black;
  line-height: 1.3;
  font-weight: 300;
}
/* /////////////////////////////////////////////  */

.heading4 {
  font-size: 26px;
  font-weight: 600;
  font-family: inherit;
  line-height: 1;
  margin-right: 170px;
}
.para4 {
  font-size: 18px;
  color: black;
  line-height: 1.1;
  font-weight: 300;
  margin-top: -5px;
}

.heading5 {
  font-size: 26px;
  font-weight: 600;
  font-family: inherit;
}

.para5 {
  font-size: 18px;
  color: black;
  line-height: 1.1;
  font-weight: 300;
}

.heading6 {
  font-size: 26px;
  font-weight: 600;
  font-family: inherit;
}

.para6 {
  font-size: 18px;
  color: black;
  padding-right: 40px;
  line-height: 1.1;
  font-weight: 300;
  margin-top: -10px;
}

.heading3 {
  font-size: 37px;
  font-weight: 600;
  font-family: inherit;
}
.task-text {
  text-align: center;
}
.para7 {
  font-size: 26px;
  font-weight: normal;
  font-family: inherit;
  line-height: 1;
}

.para8 {
  font-size: 26px;
  font-weight: normal;
  font-family: inherit;
  line-height: 1;
}

.para9 {
  font-size: 26px;
  font-weight: normal;
  font-family: inherit;
}

.notify-text {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.recent-tasks-container {
  width: 80%;
}

.first-colomn {
  margin-top: 120px;
}

.app-now {
  border-radius: 10px;
  border-color: aliceblue;
  color: antiquewhite;
  font-size: x-large;
  font-weight: 600;
}
.available-text {
  font-size: 18px;
  color: black;
}

.create-text {
  color: lightblue;
  font-size: 24px;
}

.label-1,
.label-2 {
  font-size: 27px;
  font-weight: 500;
}

.sign-button {
  border-radius: 5px;
  border-color: aliceblue;
  font-size: 20px;
  color: white;
  background-color: darkgray;
}

.already-text {
  font-size: 23px;
  padding-left: 85px;
  padding-right: 113px;
  color: lightblue;
}

.professional-text {
  color:black;
  font-weight: 600;
  font-size: 36px;
}
.showcase-block{
  margin-left: 146px;
}
.build-text{
    margin-left: 98px;
    padding-left: 122px;
  }
.headingFont{
  font-weight: 700;
}



@media (min-width:300px) and (max-width:420px) {
  .mobile-text-1 {
    font-size: 17px;
    margin-left: 34px;
  }
  .mobile-text-2 {
    font-size: 17px;
    margin-left: 34px;
    margin-top: -30px;
  }
  .mobile-text-3 {
    font-size: 17px;
    margin-left: 34px;
    margin-top: -30px;
  }
  .mobile-image {
    margin-left: -60px
  }
  .screen-image {
    margin-left: 47px;
  }
  .heading6{
      margin-right: 13px;
  }
  .para5{
    padding-right: 34px;
    font-size: 22px;
    margin-left: 0px;
    margin-right: 0px;
  } 
  .heading4{
    margin-left: 14px;
    margin-right: 33px;
  }
  .task-text{
    padding-left: 14px;
  }
  .display-text{
      margin-left: 60px;
      margin-right: 34px;
  }
  .showcase-block{
    margin-left: -25px;
    margin-right: 33px;
  }
  .build-text{
    margin-left: 1px;
    padding-left: 1px;
  }
  .career-text{
    margin-left: -76px;
    font-weight: 600;
    line-height: 1.1;
  }
  .image1{
    margin-left: 30px;
    height: 314px;
    width: 361px;
  }
  .image2{
    margin-left: -29px !important;
    margin-top: -43px !important;
  }
  .build-career-text {
    margin-top: -81px !important;
    margin-left: -71px !important;
    padding-left: 102px !important;
  }
  .earn-money-block {
    margin-left: 32px;
    margin-right: -75px;
  }
  .online-text{
    margin-left: 30px;
  }
  .headingText{
    font-size: 18px;
  }
  .paratext{
    font-size: 15px;
  }
  .serve-text{
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 75px !important;
  }
  .maintain-text{
    margin-left: 14px;
    margin-right: 14px;
  }
  .productivity-block{
    margin-left: 14px !important;
    padding-right: 59px !important;
  }
  .mainHeading-text{
   font-size: 18px;
  }
  .block2{
   margin-left:0px !important;
  }
  .mobile-image-block{
    margin-left: 80px  !important;
  }
  .mobile-block-text{
    margin-top: -36px !important;
    margin-left: -50px !important;
    margin-bottom: -106px !important;
  }
  .now-text{
    margin-left: 14px;
  }
  .login-image{
    margin-left: 56px;
  }
}

.block1{
  margin-top: 80px;
}

.build-career-text{
   margin-left: 100px;
    padding-left: 102px;
}

.productivity-block{
  padding-right: 175px;
}
.block2{
  margin-left: 200px;
}
.serve-text{
   margin-left: 95px;
    padding-left: 125px;
    padding-right: 75px;
}
.mobile-image-block{
    margin-left: 80px;
  }