@media (min-width: 992px) {
  /* .build-text {
    font-size: 12px;
    font-weight: 600;
    font-family: "inherit";
    padding-left: 106px;
    padding-right: 44px;
  } */
  .show-text {
    font-family: "inherit";
    padding-left: 106px;
    padding-right: 44px;
  }
  .earn-money {
    padding-left: 106px;
    padding-right: 44px;
  }
  .skill-text {
    padding-left: 88px;
    padding-right: 0px;
  }
  .manage-text {
    font-weight: 600;
    font-family: inherit;
  }
  .heading5 {
    padding-left: 90px;
    padding-right: 44px;
  }
  .maintain-text {
    padding-left: 90px;
    padding-right: 45px;
  }
}

  
.career-text {
  font-size: 40px;
  font-weight: 600;
  font-family: inherit;
}
.heading1 {
  font-size: 12px;
  font-weight: 600;
  font-family: "inherit";
  padding-left: 106px;
  padding-right: 44px;
  margin-top: 40px;
}
.display-text {
  font-size: 22px;
  color: black;
  line-height: 1.3;
  font-weight: 300;
}
.online-text {
  font-size: 22px;
  color: black;
  line-height: 1.3;
  font-weight: 300;
}

.display-text {
  margin-left: 60px;
  margin-right: 224px;
}
.choose-text {
  padding-right: 56px;
  font-size: 22px;
  color: black;
  line-height: 1.3;
  font-weight: 300;
}
/*  /////////////////////////////////////////////   */

.heading4 {
  font-size: 26px;
  font-weight: 600;
  font-family: inherit;
  line-height: 1;
  padding-left: 92px;
  margin-left: 46px;
}
.para4 {
  font-size: 22px;
  color: black;
  line-height: 1.1;
  font-weight: 300;
  margin-top: -5px;
}

.heading5 {
  font-size: 26px;
  font-weight: 600;
  font-family: inherit;
}

.para5 {
  font-size: 22px;
  color: black;
  line-height: 1.1;
  font-weight: 300;
  /* padding-left: 44px; */
  /* padding-right: 100px; */
      margin-left: 90px;
    margin-right: 103px;
}

.heading6 {
  font-size: 26px;
  font-weight: 600;
  font-family: inherit;
}

.para6 {
  font-size: 22px;
  color: black;
  padding-right: 40px;
  line-height: 1.1;
  font-weight: 300;
  margin-top: -10px;
}

.heading3 {
  font-size: 37px;
  font-weight: 600;
  font-family: inherit;
}
.task-text {
  text-align: center;
}
.para7 {
  font-size: 26px;
  font-weight: normal;
  font-family: inherit;
  line-height: 1;
}

.para8 {
  font-size: 26px;
  font-weight: normal;
  font-family: inherit;
  line-height: 1;
}

.para9 {
  font-size: 26px;
  font-weight: normal;
  font-family: inherit;
}

.notify-text {
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  color: #000;
}

.recent-tasks-container {
  width: 80%;
}

.first-colomn {
  margin-top: 120px;
}

.app-now {
  border-radius: 10px;
  border-color: aliceblue;
  color: antiquewhite;
  font-size: x-large;
  font-weight: 600;
}
.available-text {
  font-size: 20px;
  color: black;
}

.create-text {
  color: lightblue;
  font-size: 24px;
}

.label-1,
.label-2 {
  font-size: 27px;
  font-weight: 500;
}

.sign-button {
  border-radius: 5px;
  border-color: aliceblue;
  font-size: 20px;
  color: white;
  background-color: darkgray;
}

.already-text {
  font-size: 23px;
  padding-left: 85px;
  padding-right: 113px;
  color: lightblue;
}

.professional-text {
  color:black;
  font-weight: 600;
  font-size: 36px;
}
.showcase-block{
  margin-left: 95px;
}
.build-text{
    margin-left: 103px;
  }

@media (min-width:300px) and (max-width:420px){
  .mobile-text-1{
    font-size: 20px;
    margin-left: 34px;
  }
  .mobile-text-2{
    font-size: 20px;
    margin-left: 34px;
    margin-top: -30px;
  }
  .mobile-text-3{
    font-size: 20px;
    margin-left: 34px;
    margin-top: -30px;
  }
  .mobile-image{
    margin-left: 60px
  }
  .screen-image{
    margin-left: 47px;
  }
  .heading6{
      margin-right: 13px;
  }
  .para5{
    padding-right: 34px;
    font-size: 22px;
    margin-left: 0px;
    margin-right: 0px;
  } 
  .heading4{
    margin-left: -45px;
  }
  .task-text{
    padding-left: 14px;
  }
  .display-text{
      margin-left: 60px;
      margin-right: 34px;
  }
  .showcase-block{
    margin-left: -15px;
  }
  .build-text{
    margin-left: 1px;
  }
  .career-text{
    margin-left: -76px;
    font-weight: 600;
    line-height: 1.1;
  }
  .image1{
    margin-left: 64px;
    height: 314px;
    width: 361px;
  }
}