<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../../assets/image/slider3 - Copy.jpeg" alt="First slide">
        </div>
    </div>
 
</div>
<div class="hero-wrap">
    <div class="container-fluid top-section px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end bg-image">


            <div class="one-forth d-flex align-items-center ftco-animate">
                <div class="text">
                    <h1 class="mb-5" style="font-size: 36px; margin-left: 5px;"> Earn anytime anywhere for what
                        you do Best !
                        <!-- More than 200 happy hours completing per day -->
                    </h1>
                    <div class="ftco-search">
                        <div class="row">
                            <div class="col-md-12 nav-link-wrap">
                                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                                        role="tab" aria-controls="v-pills-2" aria-selected="false">Find a Task</a>
                                    <a class="nav-link active ml-1" id="v-pills-2-tab" [routerLink]="'/task'">Post a
                                        Job</a>

                                </div>
                            </div>
                            <div class="col-md-12 tab-wrap">

                                <div class="tab-content p-4" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-2" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
                                        <form action="#" class="search-job">
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-user"></span></div>
                                                            <input type="text" class="form-control"
                                                                placeholder="eg. Cleaning Service, SEO Service"
                                                                [formControl]="searchTaskForm.controls['title']">
                                                            <div
                                                                *ngIf="searchTaskForm.get('title').invalid && searchTaskForm.get('title').touched">
                                                                <small class="text-danger"
                                                                    *ngIf="searchTaskForm.get('title').errors?.required ">Select
                                                                    Title</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="select-wrap">
                                                                <div class="icon"><span
                                                                        class="ion-ios-arrow-down"></span></div>
                                                                <select name="" id="" class="form-control"
                                                                    [formControl]="searchTaskForm.controls['category']">
                                                                    <option value="">Category</option>
                                                                    <option *ngFor="let category of allCategories"
                                                                        value="{{category.categoryId}}">
                                                                        {{category.categoryName}}</option>
                                                                </select>
                                                                <div
                                                                    *ngIf="searchTaskForm.get('category').invalid && searchTaskForm.get('category').touched">
                                                                    <small class="text-danger"
                                                                        *ngIf="searchTaskForm.get('category').errors?.required ">Select
                                                                        Category</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <button type="submit" [disabled]="!searchTaskForm.valid"
                                                                class="form-control btn btn-secondary"
                                                                (click)="onSearchProCustomer('Find a Task')">Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section services-section bg-primary" style="padding: 1em; background-color: white !important;">
    <div class="container-fluid pt-5">
        <div class="row d-flex" style="justify-content: space-around;">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate" style="text-align: center; margin-top: 17px;">
                <div class="media block-6 services d-block" id="animation1" data-aos="fade-right">
                    <!-- <div class="icon"><span class="flaticon-resume"></span></div> -->
                    <div class="icon">
                        <!-- <span class="fas fa-tasks"></span> -->
                        <!-- <img src="../../../../assets/template/images/seeker_transperent.png" style="width:250px;"> -->
                        <i class="fas fa-5x fa-address-card" style="color: #009fd9;"></i>
                    </div>

                    <div class="media-body">
                        <h3 class="heading-intro mb-3">Just post about any task that you wish to have completed. </h3>
                        <span>It can be any job from cleaning to software development in just few minutes.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate" style="text-align: center; margin-top: 15px;">
                <div class="media block-6 services d-block" id="animation2" data-aos="fade-right">
                    <div class="icon">
                        <!-- <img src="../../../../assets/template/images/select_transperent.png" style="width:250px;"> -->
                        <!-- <span class="fas fa-user-check"></span> -->
                        <i class="fas fa-5x fa-search-dollar" style="color: #009fd9;"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading-intro mb-3">Select the right profile who you think is suitable for the job.
                        </h3>
                        <p>Their contact will be available for you with all the necessary information required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate" style="text-align: center; margin-top: 9px;">
                <div class="media block-6 services d-block" id="animation3" data-aos="fade-right">
                    <div class="icon">
                        <!-- <img src="../../../../assets/template/images/group3.png" style="width:340px; height: 145px;"> -->
                        <!-- <span class="fas fa-check-double"> </span>-->
                        <i class="fas fa-5x fa-hands-helping" style="color: #009fd9;"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading-intro mb-3">Finally, you get to meet the tasker and they will complete the
                            job for you.</h3>
                        <p>Whereas for earners, you get to make money after the completion of the job.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h1 class="mb-4 font-weight-bold">Popular Services</h1>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let pos of allPopularService">
                <ng-template carouselSlide [id]="pos.id">
                    <div class="card card-group">
                        <img class="card-img-top" src={{pos.imagePath}} alt="Card image"
                            style="width: 352.972px; height: 250.059px;">
                        <div class="card-body">
                            <p class="card-text textSize">{{pos.popularServiceName}}</p>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>

<section class="ftco-section bg-white" style="padding-bottom: 0em; padding-top: 0 !important;">
    <div class="justify-content-center pb-3">
        <div class="col-12 heading-section text-center ftco-animate">
            <h1 class="mb-4 pt-4 font-weight-bold">Recent Tasks</h1>
        </div>
    </div>
    <!-- </div> -->
    <div class="recent-tasks">
        <app-task-list [allTasks]="allTasks" [showFilter]="showFilter"></app-task-list>
    </div>

</section>



<!-- <section class="ftco-section bg-light" style="padding-top: 3em;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col heading-section text-center ftco-animate">
                <h1 class="mb-4 pt-4 font-weight-bold">Top professionals near you</h1>
            </div>
        </div>
        <div class="row" style="justify-content: center">
            <div class='slider-second' style="width: 100%;">
                <div class="container card-ctr">
                    <div class="col-lg-3 col-md-6 mt-4 pt-2 mar" style="margin-left: auto; margin-right: auto;"
                        *ngFor=" let professionals of allProfessionalsList;">
                        <div class="employers-list position-relative pb-3 pt-3 pl-2 pr-2 border rounded">
                            <img src="../../../../assets/template/images/user.svg" alt=""
                                class="mx-auto d-block shadow border rounded-circle" height="90">
                            <div class="grid-list-desc text-center mt-3">
                                <h5 class="mb-2"><a href="#" class="text-dark name">{{professionals?.firstName}}
                                        {{professionals?.lastName}}</a></h5>
                                <p class="text-muted mb-0">{{professionals.professional.category?.categoryName}}</p>
                                <p class="text-muted mb-0"><i
                                        class="fas fa-map-marker mr-2"></i>{{professionals.professional.address?.city}}
                                </p> -->

<!-- <p class="text-muted mb-0"><i
                                        class="fas fa-mobile mr-2"></i>{{professionals.professional?.phone}}
                                </p> -->

<!-- </div>
                            <div class="apply-button text-center mt-3">
                                <a [routerLink]="'/profile/'+ professionals.userId" class="btn btn-primary btn-sm">View
                                    Profile</a>
                            </div>
                            <div class="fav-collection fav-icon">
                                <i class="mdi mdi-heart" title="Collect Now"></i>
                            </div>
                        </div>
                    </div> -->
<!-- <div class="col-lg-3 col-md-6 mt-4 pt-2" *ngFor=" let professionals of allProfessionalsList;">
                        <div class="employers-list position-relative pb-3 pt-3 pl-2 pr-2 border rounded">
                            <img src="../../../../assets/template/images/user.svg" alt=""
                                class="mx-auto d-block shadow border rounded-circle" height="90">
                            <div class="grid-list-desc text-center mt-3">
                                <h5 class="mb-2"><a href="#" class="text-dark name">{{professionals?.firstName}}
                                        {{professionals?.lastName}}</a></h5>
                                <p class="text-muted mb-0">{{professionals.professional.category?.categoryName}}</p>
                                <p class="text-muted mb-0"><i
                                        class="fas fa-map-marker mr-2"></i>{{professionals.professional.address?.city}}
                                </p>
                                <p class="text-muted mb-0"><i
                                        class="fas fa-mobile mr-2"></i>{{professionals.professional?.phone}}
                                </p>
                            </div>
                            <div class="apply-button text-center mt-3">
                                <a [routerLink]="'/profile/'+ professionals.userId" class="btn btn-primary btn-sm">View
                                    Profile</a>
                            </div>
                            <div class="fav-collection fav-icon">
                                <i class="mdi mdi-heart" title="Collect Now"></i>
                            </div>
                        </div>
                    </div> -->
<!-- </div>
            </div>

        </div>
    </div>

</section> -->




<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 text-center heading-section heading-section-white ftco-animate"
                    *ngIf="!professional">
                    <h2>Open for business.</h2>
                    <p>Whatever work you do, we’ll find you the jobs you want.</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex" style="justify-content: center;">
                                    <button [routerLink]="'/joinaspro'" type="button" class="btn btn-lg"
                                        style="background-color: #ff6347; color: white;">Become
                                        Task&Earn Pro</button>
                                    <!-- <input type="text" class="form-control" placeholder="Enter email address"> -->
                                    <!-- <input type="submit" value="Subscribe" class="submit px-3"> -->
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 mt-md-3 mt-lg-3 mt-xl-3 text-center heading-section ftco-animate"
                    *ngIf="professional">
                    <h2>Open for business.</h2>
                    <p style="margin-bottom: 0px;">Post work, we’ll find you the professional for you.</p>
                    <div>
                        <img src="../../../../assets/image/0001.jpg" height="150px" alt="">
                    </div>
                    <div class="row d-flex justify-content-center mt-2 mb-4">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex" style="justify-content: center;">
                                    <button [routerLink]="'/task'" type="button" class="btn btn-lg"
                                        style="background-color: #ff6347; color: white;">Post
                                        a Task
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 ctr">
                    <div class="browse-job">
                        <!-- <span class="icon-search2 icon"></span> -->
                        <div class="txt-hov">
                            <span class="subheading" style="font-size: 35px; font-weight: 800;">Why Task And
                                Earn?</span>
                            <!-- font-family:'Anton', sans-serif; -->
                            <p class="subheading -text" style="color: black; font-size: 17px;
                            font-weight: 600;">
                                What is certainly better than a free service? That’s right, to use Task and Earn, we aim
                                to
                                provide
                                help with no cost for all of you eager champs who needs help with any tasks on real time
                                basis.
                                You
                                get to choose your Tasker, and we will connect you to them hassle-free. Avoid
                                unnecessary
                                subscriptions and registrations like other sites. We will get you the right person at
                                the
                                right
                                time for
                                free and for you Taskers, you can earn as you choose the right client.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="ftco-section img" style="background-color: #009fd9; padding-top:0px !important">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ctr">
                <div class="browse-job p-5">
                    <div class="txt-hov">
                        <span class="subheading">Why Task And Earn?</span>
                        <p class="subheading -text" style=" font-size: 14px;
                        font-weight: 600; color: black;">
                            What is certainly better than a free service? That’s right, to use Task and Earn, we aim to
                            provide
                            help with no cost for all of you eager champs who needs help with any tasks on real time
                            basis.
                            You
                            get to choose your Tasker, and we will connect you to them hassle-free. Avoid unnecessary
                            subscriptions and registrations like other sites. We will get you the right person at the
                            right
                            time for
                            free and for you Taskers, you can earn as you choose the right client.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->