<div class="hero-wrap js-fullheight" ng-init="changeImage()">
    <div class="container-fluid top-section">
        <div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
            <img *ngIf="imageId == 0" style="left: 41px; top: 44px;"
                class="one-third align-self-end order-md-last img-fluid ml-4"
                src='../../assets/template/images/lawn-removebg-preview.png' />

            <img *ngIf="imageId == 1" style="left:80px; bottom: 6px;"
                class="one-third align-self-end order-md-center img-fluid ml-4"
                src='../../assets/template/images/homeClean-removebg-preview.png' />

            <img *ngIf="imageId == 2" style="left:150px; bottom:47px;"
                class="one-third align-self-end order-md-last img-fluid ml-4"
                src='../../assets/template/images/Wedding-Photographer-removebg-preview.png' />

            <img *ngIf="imageId == 3" style="bottom: 49px;"
                class="one-third align-self-end order-md-last img-fluid ml-4"
                src='../../assets/template/images/Seo-tpsection-removebg-preview.png' />

            <img *ngIf="imageId == 4" style="bottom: 87px;"
                class="one-third align-self-end order-md-last img-fluid ml-4"
                src='../../assets/template/images/plumbing-work-removebg-preview.png' />

            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                <div class="text">
                    <!-- <p class="mb-4 mt-5 pt-5">We have <span class="number" data-number="200000">0</span> great job offers you deserve!</p> -->
                    <h1 class="mb-5" style="font-size: 36px; margin-left: 5px;">Earn anytime anywhere for what you do
                        Best !
                    </h1>
                    <div class="ftco-search">
                        <div class="row">
                            <div class="col-md-12 nav-link-wrap">
                                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill"
                                        href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Hire
                                        Pro</a>

                                    <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                                        role="tab" aria-controls="v-pills-2" aria-selected="false">Find a Task</a>

                                </div>
                            </div>
                            <div class="col-md-12 tab-wrap">

                                <div class="tab-content p-4" id="v-pills-tabContent">

                                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                        aria-labelledby="v-pills-nextgen-tab">
                                        <form action="#" class="search-job">
                                            <div class="row no-gutters">
                                                <div class="col-md mr-md-2">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-briefcase"></span></div>
                                                            <input type="text" class="form-control"
                                                                placeholder="eg. Garphic. Web Developer"
                                                                [formControl]="searchProForm.controls['title']">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md mr-md-2">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="select-wrap">
                                                                <div class="icon"><span
                                                                        class="ion-ios-arrow-down"></span></div>
                                                                <select name="" id="" class="form-control"
                                                                    [formControl]="searchProForm.controls['category']">
                                                                    <option value="">Category</option>
                                                                    <option *ngFor="let category of allCategories"
                                                                        value="{{category.categoryId}}">
                                                                        {{category.categoryName}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md mr-md-2">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-map-marker"></span>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                placeholder="Location">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <button type="submit" class="form-control btn btn-secondary"
                                                                (click)="onSearchProCustomer('Search a Pro')">Search</button>
                                                        </div>
                                                        <!-- let url = '/auth/' + authPath + '/login?msg=session-expired'; -->
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
                                        <form action="#" class="search-job">
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-user"></span></div>
                                                            <input type="text" class="form-control"
                                                                placeholder="eg. Adam Scott"
                                                                [formControl]="searchTaskForm.controls['title']">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="select-wrap">
                                                                <div class="icon"><span
                                                                        class="ion-ios-arrow-down"></span></div>
                                                                <select name="" id="" class="form-control"
                                                                    [formControl]="searchTaskForm.controls['category']">
                                                                    <option value="">Category</option>
                                                                    <option *ngFor="let category of allCategories"
                                                                        value="{{category.categoryId}}">
                                                                        {{category.categoryName}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-map-marker"></span>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                placeholder="Location">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <button type="submit" class="form-control btn btn-secondary"
                                                                (click)="onSearchProCustomer('Find a Task')">Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section services-section bg-primary">
    <div class="container">
        <div class="row d-flex" style="justify-content: space-around;">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate" style="text-align: center;">
                <div class="media block-6 services d-block">
                    <!-- <div class="icon"><span class="flaticon-resume"></span></div> -->
                    <div class="icon"><span class="fas fa-tasks"></span></div>

                    <div class="media-body">
                        <h3 class="heading-intro mb-3">Just post about any task that you wish to have completed. </h3>
                        <span>It can be any job from cleaning to software development in just few minutes.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate" style="text-align: center;">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="fas fa-user-check"></span></div>
                    <div class="media-body">
                        <h3 class="heading-intro mb-3">Select the right profile who you think is suitable for the job.
                        </h3>
                        <p>Their contact will be available for you with all the necessary information required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate" style="text-align: center;">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="fas fa-check-double"></span></div>
                    <div class="media-body">
                        <h3 class="heading-intro mb-3">Finally, you get to meet the tasker and they will complete the
                            job for you.</h3>
                        <p>Whereas for earners, you get to make money after the completion of the job.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h4 class="mb-4">Popular Services</h4>
            </div>
        </div>
        <div class="row">
            <div class='slider'>
                <div class='container slide-container'>
                    <div class="mySlides" *ngFor=" let category of allCategories">
                        <div class="card card-group">
                            <img class="card-img-top" src={{category.imagePath}} alt="Card image"
                                style="width: 235.972px; height: 151.059px;">
                            <div class="card-body">
                                <p class="card-text">{{category.categoryName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section img"
    style="background-image: url(../../assets/template/images/commercial-clenaing-6-1-1024x561.jpg); background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="right:65px;">
                <div class="browse-job p-5">
                    <span class="icon-search2 icon"></span>
                    <span class="subheading">Why Task and Earn?</span>
                    <p class="subheading -text" style=" font-size: 14px;
                    font-weight: 600; color: black;">
                        What is certainly better than a free service? That’s right, to use Task and Earn, we aim to
                        provide
                        help with no cost for all of you eager champs who needs help with any tasks on real time basis.
                        You
                        get to choose your Tasker, and we will connect you to them hassle-free. Avoid unnecessary
                        subscriptions and registrations like other sites. We will get you the right person at the right
                        time for
                        free and for you Taskers, you can earn as you choose the right client.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-white">
    <div class="row justify-content-center" style="margin-left: 169px;">
        <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading" style="padding-left: 6px;">
                <h3>Tasks near You</h3>
            </span>
        </div>
    </div>
    <div class="recent-tasks ">
        <app-task-list [allTasks]="allTasks" [showFilter]="showFilter"></app-task-list>
    </div>

</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h4 class="mb-4">Top professionals near you</h4>
            </div>
        </div>
        <div class="row">
            <div class='slider-second'>
                <div class='container slide-container-second'>
                    <!-- <div class="mySlides" *ngFor=" let professionals of allProfessionalsList; let i =index">
                        <div class="card card-profe" style="width:15rem;">
                            <div class="card-body">
                                <p class="card-text">{{professionals.firstName}}</p>
                                <p> {{professionals.professional?.introduction}}</p>
                                <span>{{professionals.address?.city}}, {{professionals.address?.country}}</span>
                            </div>
                        </div>
                    </div> -->
                    <div class=" myslides col-lg-4 col-md-6" *ngFor=" let professionals of allProfessionalsList;">
                        <div class="employers-list position-relative pb-3 pt-3 pl-2 pr-2 border rounded">
                            <img src="../../../../assets/template/images/user.svg" alt=""
                                class="mx-auto d-block shadow border rounded-circle" height="90">
                            <div class="grid-list-desc text-center mt-3">
                                <h5 class="mb-2"><a href="#" class="text-dark name">{{professionals?.firstName}}
                                        {{professionals?.lastName}}</a></h5>
                                <p class="text-muted mb-0">{{professionals.professional.category?.categoryName}}</p>
                                <p class="text-muted mb-0"><i
                                        class="fas fa-map-marker mr-2"></i>{{professionals.address?.city}}</p>
                                <ul class="employers-icons list-inline mb-1">
                                    <li class="list-inline-item"><a href="#" class="text-success"><i
                                                class="fas fa-star"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="text-success"><i
                                                class="fas fa-star"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="text-success"><i
                                                class="fas fa-star"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="text-success"><i
                                                class="fas fa-star"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="text-success"><i
                                                class="fas fa-star"></i></a></li>
                                    <li class="list-inline-item badge badge-success text-white">4.9</li>
                                </ul>
                            </div>
                            <div class="apply-button text-center mt-3">
                                <a href="#" class="btn btn-primary btn-sm">View Profile</a>
                            </div>
                            <div class="fav-collection fav-icon">
                                <i class="mdi mdi-heart" title="Collect Now"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- </div>
    </div> -->
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Open for business.</h2>
                    <p>Whatever work you do, we’ll find you the jobs you want.</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <button type="button" class="btn btn-lg"
                                        style="margin-left: 183px; background-color: #ff6347; color: white;">Become
                                        Task&Earn Pro</button>
                                    <!-- <input type="text" class="form-control" placeholder="Enter email address"> -->
                                    <!-- <input type="submit" value="Subscribe" class="submit px-3"> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>