.slogan-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
    font-size: 16px;
    font-weight: bolder;
}

.card-profe {
    padding-top: auto;
    margin-right: 16px;
    background-color: #edeede;
}

.card-group {
    padding-top: auto;
    margin: 0 8px;
}

.card-text {
    color: black;
    font-size: 16px;
}

.task-name a {
    color: black;
    font-size: 23px;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider-second {
    overflow: hidden;
    /* position: relative; */
}

.slide-container {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    animation-name: slide;
    /* animation-duration: 50s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate3d(0, 0, 0);
}

.slide-container-second {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-shrink: 0;
    /* position: relative; */
    animation-name: slide-second;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate3d(0, 0, 0);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1165px * 3));
    }
}

/* @keyframes slide-second {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-750px * 3))
    }
} */

/* @keyframes slide-second {
    from {
        left: 0
    }
    to {
        left: -980px;
    }
} */

/* @keyframes slide-second {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-950px * 3))
    }
} */

.myslides {
    transform: translate3d(0, 0, 0);
}

.top-section {
    align-items: flex-start !important;
    top: 42% !important;
}

/* .slider-text {
    height: 690px !important;
} */

.recent-tasks {
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    border: 1px solid;
    box-shadow: 0 0 15px -1px #009fd9;
    margin: auto 70px;
    /* padding-left: 210px; */
    /* column-width: 1500px; */
}

.heading-intro {
    font-size: 17px !important;
}

/* .text {
    top: 42% !important;
} */

button[disabled] {
    cursor: not-allowed;
}
.bg-image {
    /* background: url('../../../../assets/template/images/new_image2.jpeg'); */
    background-size: cover;
    background-image: linear-gradient(90deg, #03c1a1, #38a6ff);
}
.bg-image1 {
    background: url("../../../../assets/template/images/new_image.jpeg");
    background-size: cover;
}
.bg-image2 {
    background: url("../../../../assets/template/images/new_image1.jpeg");
    background-size: cover;
}
.ctr {
    margin-left: auto;
    margin-right: auto;
}
.subheading {
    text-transform: none;
}
.media-body {
    padding: 15px;
}

.browse-job {
    background: transparent;
}
@media(min-width:992px){
.prof{
    margin-left: 100px;    
}
.mar{
    margin-left: 1px !important;
    margin-right: 1px !important;
}
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 39px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 104px;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .card-ctr{
      display: flex;
      justify-content: center;
  }