<section class="ftco-section contact-section bg-white mt-3" *ngIf="!proProfile">
    <div class="container" *ngFor="let detail of userDetails">
        <div class="card d-flex">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div>
                            <app-about [details]="aboutDetails" [subCatList]="subCategoryList"></app-about>
                            <!-- <app-about></app-about> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row" style="display: flex; justify-content: space-between;">
                        <div>
                            <h3 class="user-info">{{detail?.firstName}} {{detail?.lastName}}</h3>
                            <p style="color: black; margin-bottom: 0rem;"><label class="price-label">Price for hour:
                                    <i class="fas fa-rupee-sign mr-2"></i></label>{{detail.professional?.price}}</p>
                            <div class="address-det">
                                <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                                <label>{{detail.professional.address?.city}}</label>
                            </div>
                        </div>
                        <!-- <div>
                        <button style="border-radius: 7px; box-shadow: 3px 4px 4px 5px#6c63ff;" type="button"
                            class="button">Request a Quote</button>
                    </div> -->
                        <div class="" *ngIf="quoteHide">
                            <button style="border-radius: 7px; margin-right: 23px ;margin-top: 10px;" type="button"
                                class="btn btn-primary" (click)="onRequestQuote()" data-toggle="modal"
                                data-target="#icon-close-modal">Request a quote </button>
                        </div>
                    </div>
                    <div class="row">
                        <label
                            style="color:purple; font-size:20px;font-weight:bold">{{detail.professional.category?.categoryName}}</label>
                    </div>
                    <!-- <div class="row">
                    <label style="font-size:24px;font-weight:bold">Ratings</label>
                </div>
                <div class="row">
                    <label style="font-size:24px;font-weight:bold"><span> 8.6</span><span
                            style="font-size:24px;font-weight:bold;  color: purple;">* * * *</span></label>
                </div> -->
                    <div class="row" style="margin-left: -23px;
                    margin-right: 0px;">
                        <div style="width: 100%;">
                            <nav class="navbar navbar-default">
                                <ul class="nav navbar-nav row" style="cursor:pointer">
                                    <li style="padding: 10px;" [ngClass]="{ 'yellow': about === true }">
                                        <a [ngClass]="{ 'green': about === true }" (click)="onClick('about')"><i
                                                class="fa fa-eye" aria-hidden="true"></i>Basic info</a>
                                    </li>
                                    <li style="padding: 10px;" [ngClass]="{ 'yellow': about === false }">
                                        <a [ngClass]="{ 'green': about === false }" (click)="onClick('details')"><i
                                                class="fa fa-user" aria-hidden="true"></i>Job details</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div *ngIf="about">
                        <div class="row" style="padding-top:10px; display: flex;justify-content: space-between;">
                            <label style="font-weight: bold;color: black;">Address Information</label>

                            <button *ngIf="userEdit" style="border-radius: 7px; margin-right: -36%" type="button"
                                class="btn btn-primary" (click)="onModal(detail)" data-toggle="modal"
                                data-target="#icon-close-modal">Edit User
                                Details</button>


                            <button *ngIf="userEdit" style="border-radius: 7px; margin-right: 23px" type="button"
                                class="btn btn-primary" (click)="onModal(detail)" data-toggle="modal"
                                data-target="#password-modal">Password
                                Reset
                            </button>

                        </div>
                        <div class="row">
                            <label>Phone:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp;{{detail.professional?.phone}}</label>
                        </div>
                        <div class="row">
                            <label>Address</label>
                            <label style="color: rgb(73, 60, 60)">&nbsp;{{detail.professional.address?.street}},
                                {{detail.professional.address?.city}}, {{detail.professional.address?.country}}</label>
                        </div>
                        <div class="row">
                            <label>Email</label>
                            <label style="color: rgb(73, 60, 60)">&nbsp;{{detail?.email}}</label>
                        </div>
                        <div class="row">
                            <label style="font-weight: bold;color: black;">Basic Information</label>
                        </div>
                        <!-- <hr style="margin-left: -30px; margin-top: 0.5rem;"> -->
                        <div class="row">
                            <label>Birthday</label>
                            <label
                                style="font-weight: bold; color: rgb(73, 60, 60)">&nbsp;{{detail.professional?.dob | date}}</label>
                        </div>
                        <div class="row">
                            <label>Gender</label>
                            <label
                                style="font-weight: bold; color: rgb(73, 60, 60)">&nbsp;{{detail.professional?.gender}}</label>
                        </div>
                    </div>
                    <div *ngIf="!about" style="text-align: left;">
                        <div class="row">
                            <label>Total jobs done till now:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp; 200</label>
                        </div>
                        <div class="row">
                            <label>Number of time hired from task&earn:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp;150</label>
                        </div>
                        <div class="row">
                            <label>Experience:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp; 3 Years</label>
                        </div>
                        <div class="row">
                            <label>Number of job posted:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp;80</label>
                        </div>
                        <div class="row">
                            <label>Working hours:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp; 7AM to 7PM</label>
                        </div>
                        <div class="row">
                            <label>Total jobs applied:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp;300</label>
                        </div>
                        <div class="row">
                            <label>Background checked:</label>
                            <label style="color: rgb(73, 60, 60)"> &nbsp;Checked</label>
                        </div>
                    </div>


                    <!-- <div class="row">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <div>
                                <div style="text-align: center;">
                                    <label><span>$75/hour</span></label>
                                </div>
                                <hr>
                                <div class="row">
                                    <button class="btn btn-primary" (click)="onRequestQuote()"
                                        style="margin-left: 35%;"> Request a quote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>
</section>


<div id="icon-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Update User Details:-</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Name</label>
                            <input type="text" class="form-control" id="field-1" placeholder="Name"
                                [formControl]="userForm.controls['name']">
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">Email</label>
                            <input type="text" class="form-control" id="field-1" placeholder="Email"
                                [formControl]="userForm.controls['email']">
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">Phone</label>
                            <input type="text" class="form-control" id="field-1" placeholder="phone"
                                [formControl]="userForm.controls['phone']">
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">Price</label>
                            <input type="text" class="form-control" id="field-1" placeholder="Price"
                                [formControl]="userForm.controls['price']">
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" (click)="onModalSave()" class="btn btn-info waves-effect waves-light"
                    data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->




<div id="password-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Update User Password:-</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">New password</label>
                            <input type="password" class="form-control" id="field-1" placeholder="Password"
                                [formControl]="passwordResetForm.controls['password']">
                            <div
                                *ngIf="passwordResetForm.get('password').invalid && passwordResetForm.get('password').touched">
                                <small class="text-danger" *ngIf="passwordResetForm.get('password').errors?.minlength ">
                                    password
                                    must be at least 6 Characters</small>
                                <small class="text-danger"
                                    *ngIf="passwordResetForm.get('password').errors?.required ">Password
                                    required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">Confirm new password</label>
                            <input type="password" class="form-control" id="field-1" placeholder="Re-enter password"
                                [formControl]="passwordResetForm.controls['password2']">
                            <div
                                *ngIf="passwordResetForm.get('password2').invalid && passwordResetForm.get('password2').touched">
                                <small class="text-danger"
                                    *ngIf="passwordResetForm.get('password2').hasError('notSamePassword')">
                                    Password doesn't matched !!</small>
                                <small class="text-danger" *ngIf="passwordResetForm.get('password2').errors?.required ">
                                    Confirm
                                    password
                                    required</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" [disabled]="!passwordResetForm.valid" (click)="onModalPassword()"
                    class="btn btn-info waves-effect waves-light" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>





<section class="ftco-section contact-section bg-white mt-3" *ngIf="proProfile">
    <div class="container" *ngFor="let detail of userDetails">
        <div class="card d-flex">
            <div>
                <h3 class="user-info">{{detail?.firstName}} {{detail?.lastName}}</h3>
            </div>
            <div>
                <label>Email</label>
                <label style="color: rgb(73, 60, 60)">&nbsp;{{detail?.email}}</label>
            </div>
        </div>
    </div>
</section>