<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div>
                    <app-about></app-about>
                </div>

            </div>
            <div class="col-md-8">
                <div class="row" style="display: flex; justify-content: space-between;">
                    <div>
                        <h3>Jeremy Rose</h3>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <label>New york</label>
                    </div>
                    <div>
                        <button style="border-radius: 7px; box-shadow: 3px 4px 4px 5px#6c63ff;" type="button"
                            class="button">Request a Quote</button>
                    </div>
                </div>
                <div class="row">
                    <label style="color:purple; font-size:20px;font-weight:bold">Plumber</label>
                </div>
                <div class="row">
                    <label style="font-size:24px;font-weight:bold">Ratings</label>
                </div>
                <div class="row">
                    <label style="font-size:24px;font-weight:bold"><span> 8.6</span><span
                            style="font-size:24px;font-weight:bold;  color: purple;">* * * *</span></label>
                </div>
                <div class="row">
                    <div style="width: 100%;">
                        <nav class="navbar navbar-default">
                            <ul class="nav navbar-nav row" style="cursor:pointer">
                                <li style="padding: 10px;">
                                    <a><i class="fa fa-eye" aria-hidden="true"></i>Timeline</a>
                                </li>
                                <li style="padding: 10px;">
                                    <a><i class="fa fa-user" aria-hidden="true"></i>About</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row" style="padding-top:20px; display: flex;justify-content: space-between;">
                    <label style="font-weight: bold;color: black;">Address Information</label>
                    <button style="border-radius: 7px; box-shadow: 3px 4px 4px 5px#6c63ff;" type="button"
                        class="button">Edit User Details</button>
                </div>
                <div class="row">
                    <label>Phone:</label>
                    <label style="color: rgb(73, 60, 60)"> &nbsp;+918340172667</label>
                </div>
                <div class="row">
                    <label>Address</label>
                    <label style="color: rgb(73, 60, 60)">&nbsp;68th Street,New York</label>
                </div>
                <div class="row">
                    <label>Email</label>
                    <label style="color: rgb(73, 60, 60)">&nbsp;test@test.com</label>
                </div>
                <div class="row">
                    <label style="font-weight: bold;color: black;">Basic Information</label>
                </div>
                <hr style="margin:0%">
                <div class="row">
                    <label>Birthday</label>
                    <label style="font-weight: bold; color: rgb(73, 60, 60)">&nbsp;June 5,1995</label>
                </div>
                <div class="row">
                    <label>Gender</label>
                    <label style="font-weight: bold; color: rgb(73, 60, 60)">&nbsp;Male</label>
                </div>

                <!-- <div class="row">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <div>
                                <div style="text-align: center;">
                                    <label><span>$75/hour</span></label>
                                </div>
                                <hr>
                                <div class="row">
                                    <button class="btn btn-primary" (click)="onRequestQuote()"
                                        style="margin-left: 35%;"> Request a quote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>