.navbar-default {
  border-bottom: 1px solid;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #a70000;
  background-color: #ffffff;
}

.green {
  color: purple !important;
}

.yellow {
  border: 1px solid #6c63ff;
  border-radius: 7px;
  /* box-shadow: inset 2px 2px 2px 2px #6c63ff; */
}

.navbar-nav {
  display: flex;
  flex-direction: row !important;
}

.card {
  background-color: white;
}

.user-info {
  padding-top: 6px;
}

.price-label {
  color: black;
  font-weight: 400;
}

.address-det {}