<section class="ftco-section contact-section bg-white mt-3">
    <div class="container">
        <div class="card align-items-center py-3">
            <p class="field-title">Profile Details</p>

            <div class="table-responsive-sm pl-2">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">First Name</th>
                            <td>{{profileDetails?.firstName}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td>{{profileDetails?.lastName}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{profileDetails?.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <button class="btn btn-primary mr-1" data-toggle="modal" data-target=".edit-profile-modal" (click)="onSetUserData()">
                    Edit Profile
                </button>
                <button class="btn btn-secondary" data-toggle="modal" data-target=".reset-password-modal">
                    Reset Password
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Update User Details -->

<div class="modal fade edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Update User Details:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-firstname" class="control-label">Firstname</label>
                            <input type="text" class="form-control" id="field-firstname" placeholder="Enter your firstname"
                                [formControl]="normalUserForm.controls['firstName']" />
                        </div>
                        <div class="form-group">
                            <label for="field-lastname" class="control-label">Lastname</label>
                            <input type="text" class="form-control" id="field-lastname" placeholder="Enter your lastname"
                                [formControl]="normalUserForm.controls['lastName']" />
                        </div>
                        <div class="form-group">
                            <label for="field-email" class="control-label">Email</label>
                            <input type="text" class="form-control" id="field-email" placeholder=" Enter your email"
                                [formControl]="normalUserForm.controls['email']" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary waves-effect" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-success waves-effect waves-light" data-dismiss="modal"
                    [disabled]="normalUserForm.invalid" (click)="onEditProfile()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Reset password modal -->

<div class="modal fade reset-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Reset your Password:</h4>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">New password</label>
                            <input type="password" class="form-control" id="field-1" placeholder="Password"
                                [formControl]="passwordResetForm.controls['password']">
                            <div
                                *ngIf="passwordResetForm.get('password').invalid && passwordResetForm.get('password').touched">
                                <small class="text-danger" *ngIf="passwordResetForm.get('password').errors?.minlength ">
                                    Password must be at least 6 characters
                                </small>
                                <small class="text-danger" *ngIf="passwordResetForm.get('password').errors?.required">
                                    Password is required
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-2" class="control-label">Confirm new password</label>
                            <input type="password" class="form-control" id="field-2" placeholder="Re-enter password"
                                [formControl]="passwordResetForm.controls['password2']">
                            <div
                                *ngIf="passwordResetForm.get('password2').invalid && passwordResetForm.get('password2').touched">
                                <small class="text-danger"
                                    *ngIf="passwordResetForm.get('password2').hasError('notSamePassword')">
                                    Password doesn't matched !!
                                </small>
                                <small class="text-danger" *ngIf="passwordResetForm.get('password2').errors?.required ">
                                    Confirm password is required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary waves-effect" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-info waves-effect waves-light" data-dismiss="modal"
                    [disabled]="passwordResetForm.invalid" (click)="onResetPassword()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>