<section class="ftco-section" style="margin-top: 50px;">
    <div class="container">
        <div class="heading">
            <h2>Terms and Conditions</h2>
        </div>
        <label class="label-heading">ACCEPTANCE OF THESE TERMS</label>

        <div class="" style="text-align: center;">
            <p class="text">
                Please read these Terms and Conditions (&quot;Terms&quot;, &quot;Terms and Conditions&quot;) carefully
                before
                using the <a [routerLink]="['']">Our Website</a> and the Mobile App ( ) mobile application
                (the &quot;Service&quot;) operated by Task and Earn.
                Your access to and use of the Service is conditioned on your acceptance of and compliance
                with these Terms. These Terms apply to all visitors, users and others who access or use the
                Service.
                By accessing or using the Service you agree to be bound by these Terms. If you
                disagree with any part of the terms then you may not access the Service.
            </p>
        </div>
        <label class="label-heading">Task and Earn Connects Taskers and Clients</label>
        <div class="" style="text-align: center;">
            <p class="text">
                The Task and Earn Platform provides an online platform accessibility connecting
                Taskers and clients. Clients and taskers form a mutual agreement with each other
                after being appointed by each other. They both are termed as “users” here.
                Taskers are independent contractors’ only and not any part of any organization.
                Task and Earn only connects the two above users as stated here. Company does
                not perform any task and does not hire anyone to do tasks.
                The company does not hold any liability for any sort of tasks that are being
                performed by the taskers, and is not subjected to any kind of responsibility for the
                outcome of the tasks which are performed. Users here by acknowledge to this as the
                conditions of usage and agreement to use our services.
            </p>
            <p class="text">
                The Task and Earn only enables connections between Users for the fulfilment of
                Tasks. Company is not responsible for the performance of Users, neither does it
                have control over the quality, accuracy, timing, legality, failure to provide any other
                aspect whatsoever of Tasks, Taskers, Clients, responsibility, qualifications or any of
                the actions or conduct whatsoever of any Users. Company will not represent or
                signify about the suitability, reliability, timeliness, or accuracy of the Tasks requested
                and services provided by Users identified through the Task and Earn whether in
                public, private, or offline interactions.
            </p>
        </div>
        <label class="label-heading">Contact Details</label>
        <div class="" style="text-align: center;">
            <p class="text">
                You here by acknowledge that Task and Earn is not held responsible in regards to
                your profile details or even your phone number which will be on display for easy
                contact access. The company acts only as intermediate access between clients and
                Taskers for conducting easy point of contact for tasks executions.
            </p>
        </div>
        <label class="label-heading">Payments</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Task and Earn does not hold any liability in case any of the users don’t turn up or
                execute the payments as agreed via mutual agreement of the users as mentioned
                above we are just here to connect Taskers and clients and not responsible to be
                involved in any such payment issues which are the individual terms of contract
                between the users. Task and Earn is not obligated to pay a Tasker for client’s failure
                to pay for the completed tasks.
            </p>
        </div>
        <label class="label-heading">Content</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Our Service allows you to post tasks as clients for Taskers. Any kind of offensive, sexual or
                vulgar content will be subjected to your termination of use and will be deleted immediately.
                The tasks matter should be genuine everyday tasks.
            </p>
        </div>
        <label class="label-heading">User Representation</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Users hereby give provide permission to Company to conduct background checks as
                often as required for maximum user protection although Company may perform
                background checks of Users, as outlined above, Company is not obliged to do so
                and cannot confirm the identity of the users claims, Company cannot and does not
                assume any responsibility for the accuracy or reliability of identity or background
                check information or any information provided through the Task and Earn
                website/application.
            </p>
            <p class="text">
                When interacting with other Users, it is your sole responsibility to verify other users
                with precaution and acumen to protect your personal safety. The company is not in
                any way responsible for misconduct regardless of whether it’s online or offline
                contact of any users of Task and Earn. Therefore you hereby acknowledge to the
                fact that the company, its affiliates and licensors will not be held liable for any
                information leakage, contact abuse, information abuse or any content abuse.
            </p>
        </div>
        <label class="label-heading">Links to Other Web Sites</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Our Service may contain links to third-party web sites or services that are not owned or
                controlled by Task and Earn.
                Task and Earn has no control over, and assumes no responsibility for, the content, privacy
                policies, or practices of any third party web sites or services. You further acknowledge and
                agree that Task and Earn shall not be responsible or liable, directly or indirectly, for any
                damage or loss caused or alleged to be caused by or in connection with use of or reliance
                on any such content, goods or services available on or through any such web sites or
                services
            </p>
        </div>
        <label class="label-heading">Changes</label>
        <div class="" style="text-align: center;">
            <p class="text">
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If
                a revision is material we will try to provide at least 30 (change this) days&#39; notice prior to any
                new terms taking effect. What constitutes a material change will be determined at our sole
                discretion.<br>
                Contact Us<br>
                If you have any questions about these Terms, please contact us
            </p>
        </div>
    </div>
</section>