<section class="ftco-section" style="margin-top: 50px;">
    <div class="container">
        <div class="heading">
            <h2>Terms and Conditions</h2>
        </div>
        <label class="label-heading">ACCEPTANCE OF THESE TERMS</label>

        <div class="" style="text-align: center;">
            <p class="text">
                This Terms of Use Agreement ("Terms"), including the BINDING ARBITRATION AND CLASS ACTION WAIVER
                CONTAINED HEREIN govern your access to, use of, and participation in the Platform made available
                by
                Task&Earn, Inc. ("Task&Earn," "we," "our," or "us") or through Task&Earn and the entirety of
                your
                relationship with Task&Earn. AS DETAILED IN THE ELIGIBILITY, SERVICE MEMBER REPRESENTATIONS,
                WARRANTIES, AND USE OF THE PLATFORM SECTION BELOW, IF YOU ARE A SERVICE MEMBER, YOU UNDERSTAND
                AND
                AUTHORIZE THUMBTACK TO USE YOUR INFORMATION TO OBTAIN BACKGROUND CHECKS AND BUSINESS CREDIT
                CHECKS
                FROM ITS VENDORS THROUGHOUT THE USE OF THE SERVICE.
            </p>
            <p class="text">PLEASE READ THE TERMS THOROUGHLY AND CAREFULLY. BY USING THE PLATFORM, YOU AGREE
                TO BE BOUND BY THESE TERMS. IF YOU DO NOT AGREE TO THESE TERMS,
                THEN YOU MAY NOT ACCESS OR USE THE PLATFORM.</p>
            <p class="text">
                All references to "you" or "your," as applicable, mean the person who accesses, uses,
                and/or participates in the Platform in any manner, and each of your heirs, assigns, and
                successors.
                If you use the Platform on behalf of an entity, you represent and warrant that you have the
                authority to bind
                that entity, your acceptance of the Terms will be deemed an acceptance by that entity,
                and "you" and "your" herein shall refer to that entity, its directors, officers, employees, and
                agents.
            </p>
        </div>
        <label class="label-heading">MODIFICATIONS</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Task&Earn reserves the right, in its sole discretion, to modify these Terms, and any other documents
                incorporated by
                reference herein, at any time and without prior notice. Task&Earn will notify you of changes by
                posting on the Task&Earn
                Terms of Use website, sending you a message, and/or otherwise notifying you when you are logged into
                your account.
                Modifications will become effective thirty (30) days after the earliest of: (a) modifications being
                posted on the
                Platform; (b) Thumbtack’s transmission of a message to you about the modifications; or (c) you are
                otherwise notified
                when you are logged into your account. Your use of the Platform after the expiration of the thirty
                (30) days shall
                constitute your consent to the changes. If you do not agree, you may not access or use the Platform.
            </p>
        </div>

        <label class="label-heading">ADDITIONAL TERMS AND POLICIES</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Please review Task&Earn's Privacy Policy, incorporated herein by reference, for information
                and notices concerning Task&Earn's collection and use of your information. The provision and
                delivery
                of text messages by Task&Earn or our text message service providers is governed by our SMS Terms and
                Conditions,
                which are expressly incorporated herein. The Task&Earn Guarantee is governed by the Task&Earn
                Guarantee Terms and
                Conditions, which are expressly incorporated herein. Please review the full set of key Task&Earn
                policies that govern
                your use of the Platform and our interactions with you and third parties. Certain areas of and/or
                products on the
                Platform may have different terms and conditions posted or may require you to agree with and accept
                additional terms
                and conditions or policies. If there is a conflict between these Terms and the terms and conditions
                or policies posted
                for a specific area
                or product, the latter take precedence with respect to your use of that area or product.
            </p>
        </div>



        <label class="label-heading">ELIGIBILITY, SERVICE MEMBER REPRESENTATIONS, WARRANTIES, AND USE OF THE
            PLATFORM</label>
        <div class="" style="text-align: center;">
            <p class="text">
                Access to and use of the Platform is available only to individuals who are at least 18 years old and
                can form legally binding contracts under applicable law.
                By accessing or using the Platform, you represent and warrant that you are eligible.<br><br>

                By registering or using the Platform to offer, post, or provide Pro Services, Service Members
                represent
                and warrant that they, and the employees, agents, contractors, and subcontractors who may perform
                work for them,
                are properly and fully qualified and experienced, and licensed, certified, bonded, and insured, as
                required by
                applicable laws or regulations to which they may be subject in the jurisdiction(s) in which they
                offer their Pro
                Services and in relation to the specific job they are performing. Service Members otherwise agree to
                comply with all
                applicable laws, including the
                Consumer Privacy Act, in their use of the Platform and any personal information obtained from the
                Platform.<br><br>
                Task&Earn is not in the business of providing Pro Services. Service Members understand and agree
                that by creating and maintaining an account on the Platform, they receive only the ability to use
                the Task&Earn Platform to access persons interested in receiving Pro Services and related tools,
                including but not limited to the ability to message those persons or schedule appointments, that
                facilitate the provision of Pro Services. For example, Customer Members may use the Platform to
                intentionally interact with Service Members regarding Pro Services. Service Members understand and
                agree that using the Platform does not guarantee that anyone will engage them for Pro
                Services.<br><br>

                Service Members understand and agree that they are customers of Task&Earn, and are not Task&Earn
                employees, joint venturers, partners, or agents. Service Members acknowledge that they set or
                confirm their own prices, provide their own equipment, and determine their own work schedule.
                Task&Earn does not control, and has no right to control, the services a Service Member provides
                (including how the Service Member provides such services) if the Service Member is engaged by a
                Customer Member or any other person, except as specifically noted herein.<br>

            </p>
        </div>
    </div>
</section>