.subCat-heading {
    justify-content: center;
}

.subCat-box {
    border: 1px solid black;
    justify-content: center;
}

.login-title {
    font-size: 20px;
    color: #6c63ff;
    text-align: center;
}

.subCat-label {
    border-bottom-style: solid!important;
    border-bottom-width: 1px!important;
    line-height: 2.6;
}

.subcat-text {
    font-size: 16px;
    font-weight: 400;
    padding-left: 8px !important;
}

input[type="checkbox"] {
    border-radius: 4px !important;
    width: 15px !important;
    height: 15px !important;
}