<section class="ftco-section contact-section bg-white">
    <div class="container pt-3">
        <div class="row block-5">
            <div class="col-md-12 order-md-last d-flex">
                <div class="col-md-12">
                    <div>
                        <div>
                            <app-category (categoryEvent)="selectedCategory($event)" [title]="title"
                                *ngIf="currentViewId == 0" class="shared-form">
                            </app-category>
                            <app-professional-detail (professionalDetail)="professionalDetail($event)"
                                *ngIf="currentViewId == 1" class="shared-form"></app-professional-detail>
                            <!-- <app-sub-category [subCategoryList]="subCategoryLists"
                                (subCatList)="subCategorysList($event)" (subCatListValue)="subCategoryListValue($event)"
                                *ngIf="currentViewId == 1" class="shared-form">
                            </app-sub-category> -->
                            <app-address (submitEvent)="addressData($event)" [isBecomeEarner]="isBecomeEarner"
                                [subCategoryList]="subCategoryLists" *ngIf="currentViewId == 2" class="shared-form">
                            </app-address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>