<section class="ftco-section contact-section bg-light" *ngIf="!show">
  <div class="container">
    <div class="row block-5" style="justify-content: center; padding-bottom: 36px;padding-top: 37px;">
      <div class="col-md-6 d-flex">
        <form [formGroup]="userLoginForm" class="bg-white pl-5 pr-5 pb-5 contact-form" style="height:100%;">
          <div class="login-title">
            <p>Please login</p>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email"
              [formControl]="userLoginForm.controls['email']">
            <small class="text-danger" *ngIf="userLoginForm.get('email').errors?.email">Incorrect Email</small>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password"
              [formControl]="userLoginForm.controls['password']">
            <small class="text-danger" *ngIf="userLoginForm.get('password').errors?.minlength">
              Password must be at least 6 characters
            </small>
          </div>
          <div class="form-group mt-2" style="text-align: center;">
            <button class="btn log-reg-button" [disabled]="!userLoginForm.valid" (click)="onUserLogin()">
              Login
            </button>
          </div>

          <div style="text-align: center;">
            <button type="button" class="btn btn-link" (click)="onRegister()">Create an Account</button>
          </div>
          <div style="text-align: center;">
            <a [routerLink]="['../forgotpassword']">Forgot password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



<form [formGroup]="userLoginForm" class="bg-white p-5 contact-form" style="height:100%;" *ngIf="show">
  <div class="login-title">
    <p>Login</p>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" [formControl]="userLoginForm.controls['email']">
    <!-- <div class="alert alert-danger" *ngIf="userLoginForm.controls['email'].touched">
        <i>email required</i>                  
    </div> -->
    <small class="text-danger" *ngIf="userLoginForm.get('email').errors?.email"> Incorrect Email</small>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password"
      [formControl]="userLoginForm.controls['password']">
    <!-- <div class="alert alert-danger"
      *ngIf="userLoginForm.controls['password'].invalid && userLoginForm.controls['password'].touched">
        <i>Invalid password!</i>                   
    </div> -->
    <small class="text-danger" *ngIf="userLoginForm.get('password').errors?.minlength"> Password must be
      at least 6 characters</small>
  </div>
  <div class="form-group mt-2" style="text-align: center;">
    <button [disabled]="!userLoginForm.valid" class="btn log-reg-button" (click)="onUserLogin()">Login</button>
  </div>
  <br>
  <a (click)="onRegister()" style="margin-left: 164px; cursor: pointer;">Create an Account</a>
  <br>
  <!-- <a [routerLink]="['forgotpassword']">Forgot password</a> -->
</form>