<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row block-5" style="justify-content: center;">
            <div class="col-md-6 d-flex" style="padding-top: 19px;">
                <form [formGroup]="resetPasswordForm" class="bg-white pb-5 pr-5 pl-5 pt-3 contact-form"
                    style="height:100%;">
                    <div class="login-title">
                        <p>Reset Password</p>
                    </div>
                    <div class="form-group">
                        <input name="email" class="form-control" type="password" placeholder="Password"
                            [formControl]="resetPasswordForm.controls['password']">
                        <small class="text-danger" *ngIf="resetPasswordForm.get('password').errors?.minlength ">
                            Password must be at least 6 characters
                        </small>
                    </div>
                    <div class="form-group">
                        <input name="email" class="form-control" type="password" placeholder="Confirm Password"
                            [formControl]="resetPasswordForm.controls['confirmPassword']">
                        <small class="text-danger" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid &&
                            resetPasswordForm.controls['confirmPassword'].touched &&
                            resetPasswordForm.controls['confirmPassword'].hasError('notSamePassword')">
                              <i>That doesn't match...</i>                   
                        </small>
                    </div>
                    <div class="form-group mt-2" style="text-align: center;">
                        <button [disabled]="!resetPasswordForm.valid" class="btn btn-primary"
                            (click)="resetPassword()">
                            Submit
                        </button>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <label *ngIf="isPasswordReseted">Your password has been reset. Please login!</label>
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-link" [routerLink]="['../../become-earner-login']">
                            Back to login page
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>